![imagen](../../imagenes/ejercicios.png)

# Ejercicios repaso semana 6

## Ejercicio 1 - Markdown
1. Pon por pantalla una imagen
2. Escribe en una lista ordenada 3 cosas que te llevarias a la montaña
3. Escribe en una lista no ordenada tus tres colores favoritos
4. Recplica la lista del apartado dos, pero esta vez que el primer elemento esté en negrita, el segundo en cursiva y el tercero en negrita y cursiva.
5. Escribe en markdown, un bloque de código Python que sea print("Esto es markdown"). Markdown reconoce que es Python ya que pone de color diferente las palabras reservadas.
6. Escribe el nombre de una web que uses mucho y asocia al texto un enlace a la propia web.

![imagen](../../imagenes/python.png)

Items que me llevaria a la montaña
1. Frutos secos
2. Cortavientos
3. Gorra

Colores favoritos:
* Rojo
* Azul
* Verde

Items que me llevaria a la montaña
1. **Frutos secos**
2. *Cortavientos*
3. ***Gorra***

```Python
print("Esto es markdown")
```

[web de kaggle](https://www.kaggle.com)

## Ejercicio 2 - Python Basics
1. ¿Qué tengo que poner para que me haga un salto de linea en un print? ¿Y para una tabulación?
2. Realiza un conversor de dolares a euros. Tienes que usar `input`.
3. Comenta el apartado 1 con un comentario de línea y el apartado 2 con uno multilínea
4. Declara dos strings de dos maneras diferentes. Uno será tu nombre y el otro tu apellido. Declara en otra variable tu edad. Concatenalo todo en una frase (nueva variable), e imprimelo por pantalla.
5. ¿Está bien si pongo números en los nombres de las variables?
6. Comprueba los tipos de las variables del apartado 4
7. Elimina todas las variables del apartado 4
8. Crea un programa donde se recojan dos inputs del usuario, y el output del programa sea si esos inputs son iguales o no.
9. Dada la lista [4,7,-3], calcula su maximo, minimo y suma
10. Redondea 38.38276252728 a 5 decimales
11. Pasa la frase "Born to be wild" a mayusculas, luego minusculas, dividela por los espacios, y por último, sustituye "wild" por "Geek".

In [2]:
# Se usa \n para el salto de linea
print('salto\nde\nlinea')
print('tabulaciones\ten\tlinea')

salto
de
linea
tabulaciones	en	linea

In [3]:
'''
Este es mi conversor de dolares a euros
'''
respuesta = input("Conversor de dolares a euros. Introduce dolares: ")

print("Euros:", float(respuesta)*0.86)

Conversor de dolares a euros. Introduce euros:  10

Euros: 8.6

In [4]:
nombre = "Daniel"
apellido = 'Ortiz'
edad = 29
total = "Mi nombre es " + nombre + " " + apellido + " y tengo " + str(edad) + " años"
print(total)

Mi nombre es Daniel Ortiz y tengo 29 años

Si está bien, siempre y cuando no vayan al principio del nombre

In [5]:
del nombre, apellido, edad, total

In [7]:
uno = input("input 1")
dos = input("input 2")
print(uno == dos)

input 1 a
input 2 s

False

In [11]:
print(max([4,7,-3]))
print(min([4,7,-3]))
print(sum([4,7,-3]))

7
-3
8

In [12]:
round(38.38276252728, 5)

38.38276

In [16]:
frase = "Born to be wild"
print(frase)
print(frase.lower())
print(frase.upper())
print(frase.split(' '))
print(frase.replace('wild', 'Geek'))

Born to be wild
born to be wild
BORN TO BE WILD
['Born', 'to', 'be', 'wild']
Born to be Geek

## Ejercicio 3 - If/else
Crea un arbol de decisión mediante sentencias `if/else`, para determinar el precio de la entrada de cine. Si la edad del cliente está entre 5 y 15 años, ambos incluidos, el precio será de 5, si está jubilado y la peli es una de las `peliculas_disccount`, el precio es de 4. En cualquier otr caso, será de 7 euros.

In [ ]:
jubilado = False
edad = 29
peliculas_disccount = ["Star Wars", "Dr. Dolittle", "Efecto mariposa"]

In [ ]:

peli = "Dr. Dolittle"
if 5 <= edad <= 15:
    print(5)

elif jubilado and peli in peliculas_disccount:
    print(4)

else:
    print(8)

## Ejercicio 4 - bucle for
Dadas dos listas de la misma longitud, crea una tercera lista que se componga de la suma de ambas, elementoa  elemento.

In [19]:
lista1 = [5,7,8]
lista2 = [2,1,4]

lista3 = []

for i in range(len(lista1)):
    lista3.append(lista1[i] + lista2[i])
    
print(lista3)

[7, 8, 12]

## Ejercicio 5 - bucle for
1. Imprime por pantalla los numeros entre el 0 y el 70 que se sean multiplos de 3 y de 5
2. Imprime por pantalla la siguiente secuencia: [-10, -11, -12, -13, -14, -15]

In [22]:
for i in range(71):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60

In [60]:
for i in range(-10, -16, -1):
    print(i)

-10
-11
-12
-13
-14
-15

## Ejercicio 6 - bucle for
Imprime por pantalla el siguiente patrón
```Python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [30]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Ejercicio 7 - bucle while
Escribe por pantalla un programa que vaya pidiendo numeros al usuario, hasta que el usuario introduce el 9999. En ese caso, el programa devuelve la concatenación de todos los números. Como si fuese un string.

In [3]:
num = None
suma = ''

while num != '9999':
    
    num = input("Intruce un numero")
    
    if num != '9999':
        suma += num
        
print("El concatenado ha sido",suma)

Intruce un numero 2
Intruce un numero 5
Intruce un numero 4
Intruce un numero 9999

El concatenado ha sido 254

## Ejercicio 8 - funcion con bucle while
Escribe una funcion en el que se le pide al usuario el codigo pin reiteradamente hasta que acierte... Si lo introduce mal 3 veces, la funcion devuelve un "Se ha bloqueado", sino, un "¡Acertaste el codigo!".

In [4]:
pin = 1234


def codigo_pin():
    
    intentos = 0
    while intentos <3:
        codigo = int(input("Introduzca el codigo pin: "))

        if codigo == pin:
            return "¡Acertaste el codigo!"

        else:
            intentos += 1
    
    return "Se ha bloqueado"

codigo_pin()

Introduzca el codigo pin:  1
Introduzca el codigo pin:  1
Introduzca el codigo pin:  1

'bloqueaste la tarjeta'

## Ejercicio 9 - colecciones
1. Crea una tupla con los elementos (10,2,27,8)
2. Obtén el tamaño de la tupla
3. Imprime por pantalla su tipo
4. Declara una tupla con 4 caracteres y concatenalos todos, separados por espacios
5. Declara una lista con los mismos elementos que en el apartado 1. Encuentra el elemento 27 de la lista, y sustituyelo por 37
8. Elimina el 8 de la lista
9. Convierte la lista de apartado anterior en una tupla.
10. Compurba si el elemento 3 esta en la tupla del apartado anterior.
11. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices.
12. Ordena la tupla de manera descendente
13. Crea un diccionario con {"val1": 5, "val2": 8, "val3": 9}. Suma todos sus valores. 
14. Obtén una lista de tuplas con todos sus items.

In [31]:
tupla = (10,2,27,8)
print(tupla)
print(len(tupla))
print(type(tupla))

(10, 2, 27, 8)
4
<class 'tuple'>

In [32]:
tupla_str = ('s', 'e', 'b', 't')
" ".join(tupla_str)

's e b t'

In [41]:
lista = [10,2,27,8]

indice = lista.index(27)
lista[indice] = 37
print(lista)

[10, 2, 37, 8]

In [42]:
lista.remove(8)
print(lista)
tupla = tuple(lista)
print(tupla)

[10, 2, 37]
(10, 2, 37)

In [43]:
print(3 in tupla)

False

In [44]:
mi_dict = {}
# Convertir a diccionario
for i,j in enumerate(tupla):
    #print(i)
    #print(j)
    mi_dict[i] = j
    
print(mi_dict)

{0: 10, 1: 2, 2: 37}

In [50]:
print(sorted(tupla, reverse = True))

[37, 10, 2]

In [56]:
my_dict = {"val1": 5, "val2": 8, "val3": 9}
print(sum(my_dict.values()))
print(list(my_dict.items()))

22
[('val1', 5), ('val2', 8), ('val3', 9)]