# Simpson's Paradox
Use `admission_data.csv` for this exercise.

No ejecutar ninguna celda

In [1]:
import pandas as pd

In [2]:
# Load and view first few lines of dataset
simpson = pd.read_csv("admission_data.csv")
simpson.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [3]:
# Load and view first few lines of dataset
simpson[:5]

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [4]:
simpson.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
student_id    500 non-null int64
gender        500 non-null object
major         500 non-null object
admitted      500 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
student_id    500 non-null int64
gender        500 non-null object
major         500 non-null object
admitted      500 non-null bool
dtypes: bool(1), int64(1), object(2)
memory usage: 12.3+ KB

### Proportion and admission rate for each gender

In [15]:
# get number of males and females in list
fem = simpson[simpson['gender'] == 'female']
male = simpson[simpson['gender'] == 'male']

In [16]:
fem

     student_id  gender      major  admitted
0         35377  female  Chemistry     False
2         31441  female  Chemistry     False
4         53714  female    Physics      True
5         50693  female  Chemistry     False
7         27648  female  Chemistry      True
..          ...     ...        ...       ...
492       26737  female  Chemistry     False
493       56006  female    Physics      True
494       30192  female  Chemistry      True
496       25775  female  Chemistry      True
497       47243  female  Chemistry      True

[257 rows x 4 columns]

In [17]:
male

     student_id gender    major  admitted
1         56105   male  Physics      True
3         51765   male  Physics      True
6         25946   male  Physics      True
8         55247   male  Physics     False
9         35838   male  Physics      True
..          ...    ...      ...       ...
489       56171   male  Physics     False
491       25641   male  Physics     False
495       26950   male  Physics     False
498       52067   male  Physics      True
499       50535   male  Physics     False

[243 rows x 4 columns]

In [18]:
# get number of males and females in list
simpson.groupby('gender').count().iloc[:,0]

gender
female    257
male      243
Name: student_id, dtype: int64

In [6]:
#get total number of values in gender column in variable
simpson.groupby('gender').count()['student_id']

gender
female    257
male      243
Name: student_id, dtype: int64

In [29]:
#Teacher solution
simpson.gender.value_counts()

female    257
male      243
Name: gender, dtype: int64

female    257
male      243
Name: gender, dtype: int64

In [26]:
# Proportion of students that are female
fem_percent = len(fem)/len(simpson)
print('Female percent:',fem_percent*100, '%')

male_percent = len(male)/len(simpson)
print('Male percent:',male_percent*100, '%')

print('Check total:', (male_percent + fem_percent)*100, '%')

Female percent: 51.4 %
Male percent: 48.6 %
Check total: 100.0 %

In [11]:
# Proportion of students that are female

Proportion of females is 51.4%
Proportion of females is 0.514%

In [12]:
# Proportion of students that are male

Proportion of males is 48.6%
Proportion of males is 0.486%

In [48]:
#Teacher solution
print('Female:'+ str((simpson.gender.value_counts()['female']/len(simpson))*100)+'%')
'Male:'+ str((simpson.gender.value_counts()['male']/len(simpson))*100)+'%'

Female:51.4%

'Male:48.6%'

In [32]:
#To view statistics based on gender, we group by gender variable
simpson.groupby(['gender','admitted']).count().iloc[:,0]

gender  admitted
female  False       183
        True         74
male    False       125
        True        118
Name: student_id, dtype: int64

In [53]:
simpson[simpson['admitted'] == True].gender.value_counts()

male      118
female     74
Name: gender, dtype: int64

In [54]:
#Teacher solution
#To view statistics based on gender, we group by gender variable
# Next we use value_counts() function to see the numbers
simpson[['gender','admitted']].value_counts()

gender  admitted
female  False       183
male    False       125
        True        118
female  True         74
dtype: int64

In [13]:
#To view statistics based on gender, we group by gender variable
# Next we use value_counts() function to see the numbers

gender  admitted
female  False       183
        True         74
male    False       125
        True        118
Name: admitted, dtype: int64

In [55]:
# count of females
simpson.gender.value_counts()['female']

257

In [15]:
# count of females
# https://chrisalbon.com/python/pandas_selecting_rows_on_conditions.html

Number of female students are 257

In [56]:
#count of males
simpson.gender.value_counts()['male']

243

In [16]:
#count of males

Number of male students are 243

In [82]:
# Admission rate for females / admitted
round((simpson[(simpson['gender'] == 'female') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['admitted'] == True)].shape[0] *100),2)

38.54

In [91]:
# Admission rate for females / all female
print('Rate female admitted:',round((simpson[(simpson['gender'] == 'female') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['gender'] == 'female')].shape[0] *100),2),'%')

Rate female admitted: 28.79 %

In [17]:
# Admission rate for females

Female admission rate is 29.0%

In [84]:
# Admission rate for male / admitted
round((simpson[(simpson['gender'] == 'male') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['admitted'] == True)].shape[0] *100),2)

61.46

In [92]:
# Admission rate for males / all male
print('Rate male admitted:',round((simpson[(simpson['gender'] == 'male') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['gender'] == 'male')].shape[0] *100),2), '%')

Rate male admitted: 48.56 %

In [18]:
# Admission rate for males

Male admission rate is 48.56%

In [112]:
print('Total admission proportions')
print('Female:',round((simpson[(simpson['gender'] == 'female') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['gender'] == 'female')].shape[0]),6))
print('Male:',round((simpson[(simpson['gender'] == 'male') & (simpson['admitted'] == True)].shape[0] / simpson[ (simpson['gender'] == 'male')].shape[0]),6))

Total admission proportions
Female: 0.287938
Male: 0.485597

In [19]:
print('Total admission proportions')

Total admission proportions
Female: 0.28793774319066145
Male: 0.48559670781893005

### Proportion and admission rate for physics majors of each gender

In [103]:
simpson

     student_id  gender      major  admitted
0         35377  female  Chemistry     False
1         56105    male    Physics      True
2         31441  female  Chemistry     False
3         51765    male    Physics      True
4         53714  female    Physics      True
..          ...     ...        ...       ...
495       26950    male    Physics     False
496       25775  female  Chemistry      True
497       47243  female  Chemistry      True
498       52067    male    Physics      True
499       50535    male    Physics     False

[500 rows x 4 columns]

In [110]:
# group by major and gender to get counts of students in each cohort
df_gender_major = simpson.groupby(['gender','major']).count()
df_gender_major

                  student_id  admitted
gender major
female Chemistry         226       226
       Physics            31        31
male   Chemistry          18        18
       Physics           225       225

In [118]:
simpson.groupby(['gender','major']).describe().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, ('female', 'Chemistry') to ('male', 'Physics')
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   (student_id, count)  4 non-null      float64
 1   (student_id, mean)   4 non-null      float64
 2   (student_id, std)    4 non-null      float64
 3   (student_id, min)    4 non-null      float64
 4   (student_id, 25%)    4 non-null      float64
 5   (student_id, 50%)    4 non-null      float64
 6   (student_id, 75%)    4 non-null      float64
 7   (student_id, max)    4 non-null      float64
dtypes: float64(8)
memory usage: 579.0+ bytes

In [20]:
# group by major and gender to get counts of students in each cohort

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (Chemistry, female) to (Physics, male)
Data columns (total 8 columns):
(student_id, count)    4 non-null float64
(student_id, mean)     4 non-null float64
(student_id, std)      4 non-null float64
(student_id, min)      4 non-null float64
(student_id, 25%)      4 non-null float64
(student_id, 50%)      4 non-null float64
(student_id, 75%)      4 non-null float64
(student_id, max)      4 non-null float64
dtypes: float64(8)
memory usage: 405.0+ bytes

In [125]:
simpson[(simpson['gender'] == 'female')].shape[0]

257

In [128]:
simpson[(simpson['gender'] == 'female') & (simpson['major'] == 'Physics')].shape[0]

31

In [217]:
# What proportion of female students are majoring in physics?

# First, get count of females in Physics major 
number_phy = simpson[(simpson['gender'] == 'female') & (simpson['major'] == 'Physics')].shape[0]
print(number_phy)
#now evaluate proportion of female candidates in Phsics
print('Proportion physics-female:')
print(round(simpson[(simpson['gender'] == 'female') & (simpson['major'] == 'Physics')].shape[0]/simpson[(simpson['gender'] == 'female')].shape[0],4)*100,'%')

31
Proportion physics-female:
12.06 %

In [152]:
# What proportion of male students are majoring in physics?
print('Proportion physics-male:')
print(round(simpson[(simpson['gender'] == 'male') & (simpson['major'] == 'Physics')].shape[0]/simpson[(simpson['gender'] == 'male')].shape[0],4)*100,'%')
# first,get count of males in Physics major 

#now evaluate proportion of male candidates in Physics

Proportion physics-male:
92.58999999999999 %

In [199]:
# Admission rate for female physics majors
rate_fem_phy = round(simpson[(simpson['gender'] == 'female') & (simpson['major'] == 'Physics')].shape[0]/simpson[(simpson['gender'] == 'female')].shape[0],4)*100
print('Rate_fem_phy:', rate_fem_phy,'%')

# compute count of females in Physics who got admitted
condition_ad = simpson['admitted'] == True
condition_phy = simpson['major'] == 'Physics'
condition_fem = simpson['gender'] == 'female'

num_fem_phy_ad = (simpson[condition_fem & condition_phy & condition_ad].shape[0])

print('Num_fem_phy_ad:', num_fem_phy_ad)

#now evaluate proportion of admitted female candidates in Phsics
rate_fem_phy_ad = round((num_fem_phy_ad/simpson[condition_fem & condition_phy].shape[0])*100,4)
print('Rate_fem_phy_ad:', rate_fem_phy_ad,'%')

Rate_fem_phy: 12.06 %
Num_fem_phy_ad: 23
Rate_fem_phy_ad: 74.1935 %

In [23]:
# Admission rate for female physics majors
# compute count of females in Physics who got admitted
#now evaluate proportion of admitted female candidates in Phsics

Proportion of female candidates admitted in Physics is 74.19%

In [208]:
condition_ad = simpson['admitted'] == True
condition_phy = simpson['major'] == 'Physics'
condition_male = simpson['gender'] == 'male'
# Admission rate for female physics majors
rate_male_phy = round(simpson[condition_male & condition_phy].shape[0]/simpson[condition_male].shape[0],4)*100
print('Rate_male_phy:', rate_male_phy,'%')

#now evaluate proportion of admitted male candidates in Phsics
num_male_phy_ad = (simpson[condition_male & condition_phy & condition_ad].shape[0])
print('num_male_phy_ad:', num_male_phy_ad)

#now evaluate proportion of admitted male candidates in Phsics
rate_male_phy_ad = round((num_male_phy_ad/simpson[condition_male & condition_phy].shape[0])*100,4)
print('Rate_male_phy_ad:', rate_male_phy_ad,'%')

Rate_male_phy: 92.58999999999999 %
num_male_phy_ad: 116
Rate_male_phy_ad: 51.5556 %

In [24]:
# Admission rate for male physics majors
# compute count of females in Physics who got admitted
#now evaluate proportion of admitted male candidates in Phsics

Proportion of male candidates admitted in Physics is 51.56%

### Proportion and admission rate for chemistry majors of each gender

In [218]:
condition_che = simpson['major'] == 'Chemistry'
# What proportion of female students are majoring in chemistry?
rate_fem_che = (simpson[condition_fem & condition_che].shape[0]/simpson[condition_fem].shape[0])*100
print('Rate_fem_che:', round(rate_fem_che,2),'%')
# First, get count of females in Chemistry major 
num_fem_che_ad = (simpson[condition_fem & condition_che & condition_ad].shape[0])

print('num_fem_che_ad:', num_fem_che_ad)

#now evaluate proportion of female candidates in Chemistry

rate_fem_che_ad = (num_fem_che_ad/simpson[condition_fem & condition_che].shape[0])*100
print('rate_fem_che_ad:', round(rate_fem_che_ad,4),'%')

Rate_fem_che: 87.94 %
num_fem_che_ad: 51
rate_fem_che_ad: 22.5664 %

In [25]:
# What proportion of female students are majoring in chemistry?

# First, get count of females in Chemistry major 

#now evaluate proportion of female candidates in Chemistry

Number of females with Chemistry major is 226
Proportion of female candidates in Chemistry is 87.94%

In [222]:
# What proportion of male students are majoring in chemistry?
rate_male_che = (simpson[condition_male & condition_che].shape[0]/simpson[condition_male].shape[0])*100
print('Rate_male_che:', round(rate_male_che,2),'%')
# First, get count of females in Chemistry major 


#now evaluate proportion of male candidates in Chemistry

Rate_male_che: 7.41 %

In [27]:
# Admission rate for female chemistry majors

# compute count of females in chemistry who got admitted


#now evaluate proportion of admitted female candidates in chemistry

Proportion of female candidates admitted in chemistry is 22.57%

In [28]:
# Admission rate for male chemistry majors
# compute count of males in chemistry who got admitted


#now evaluate proportion of admitted male candidates in chemistry

Proportion of male candidates admitted in chemistry is 11.11%

### Admission rate for each major

In [29]:
# Admission rate for physics majors
# compute count of students in Physics who got admitted


#now evaluate proportion of admitted candidates in Phsics

Proportion of candidates admitted in Physics is 54.3%

In [30]:
# Admission rate for chemistry majors
# compute count of students in Chemistry who got admitted


#now evaluate proportion of admitted candidates in Chemistry

Proportion of candidates admitted in Chemistry is 21.72%

#### Testing: Double check vlaues by computing non-admittance values

In [31]:
# double check values for physics admittance



# double check values for Chemistry admittance

Values computed for Physics admitted candidates is Correct
Values computed for Chemistry admitted candidates is Correct

In [32]:
# double check not admitted candidates
# candidates not admitted to Physics

# candidates not admitted to Chemistry

# compare if admitted and non-admitted candidate counts equal total number of students

Values computed for admitted candidates is Correct