Prueba para generar una base de Datos ficticia, trabajo Desafío Tripulaciones.

Empezar con el tutorial de: https://towardsdatascience.com/generating-random-data-into-a-database-using-python-fd2f7d54024e

In [ ]:
#Install required packages
!conda list

In [4]:
#packages required; pandas, sqlalchemy and fake. 
#!pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/fa/d4/cb82441718bccaed9e3322c64d39438d40568b7a8ae33458f28a1a8b2155/Faker-6.5.0-py3-none-any.whl (1.1MB)
Collecting text-unidecode==1.3 (from Faker)
  Downloading https://files.pythonhosted.org/packages/a6/a5/c0b6468d3824fe3fde30dbb5e1f687b291608f9473681bbf7dabbf5a87d7/text_unidecode-1.3-py2.py3-none-any.whl (78kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\pilar\anaconda3\lib\site-packages (from Faker) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\pilar\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-6.5.0 text-unidecode-1.3

In [18]:
#import packages
import pandas as pd 
import numpy as np 
import random as rd 
from faker import Faker
from collections import defaultdict
from sqlalchemy import create_engine

import os

In [12]:
#Generating dummy data
fake = Faker()

In [13]:
fake_data = defaultdict(lambda: [])

In [14]:
fake_data

defaultdict(<function __main__.<lambda>()>, {})

In [15]:
for i in range(5):
    fake_data['first_name'].append(fake.first_name())
    fake_data['last_name'].append(fake.last_name())
    fake_data['identity_doc'].append(fake.ssn())
    fake_data['date_birth'].append(fake.date_of_birth())
    fake_data['phone_number'].append(fake.phone_number())
    fake_data['email'].append(fake.email())
    fake_data['user_password'].append(fake.password())
    n_rand = rd.choice([0,1,2,3])
    if (n_rand < 1 ):
        fake_data['account_number'].append([fake.iban(), fake.iban()])
    else:
        fake_data['account_number'].append([fake.iban()])

    fake_data['credit_car'].append(fake.credit_card_number())
    fake_data['code_security'].append([fake.credit_card_security_code()])

In [16]:
df_fake_data = pd.DataFrame(fake_data)

In [17]:
df_fake_data

,first_name,last_name,identity_doc,date_birth,phone_number,email,user_password,account_number,credit_car,code_security
0,Kerri,Wilson,081-08-3516,1973-11-23,001-958-331-3380x38493,denise51@gmail.com,8_XkP3Ndxv,[GB38WOTN26537747929796],213105949836589,[059]
1,Justin,Smith,351-98-8344,2005-01-03,(619)011-3813x64627,edward55@yahoo.com,hNwUv2Hc_w,[GB81TZKA69852218464944],4356412680741039,[568]
2,Kristin,Santiago,295-66-3075,1950-01-21,(911)011-7898,ywelch@mendoza-davidson.biz,_Q8PfHGlK),[GB80JORR60180509955495],630476917673,[000]
3,Scott,Baker,519-61-0010,2006-10-05,146.170.1398x612,rfreeman@williams.com,_hRbkAIL*7,[GB26NLRC68626948350633],6011456170488041,[652]
4,Christine,Moses,314-12-1727,1921-02-21,758-023-2625,ffrench@hotmail.com,9NReE2e&#I,[GB44ISSY42816421619889],3574697033606420,[026]

Buscar generador datos español de la librería Faker

In [22]:

url = "C:\\Users\\pilar\\Edition_Jun2020\\Repositorios_GitHub\\DataSets\\24992bsc.csv"
os.listdir(url)

['24992.csv',
 '24992bsc.csv',
 'archive (1).zip',
 'data-USstates-master',
 'datasets_beers.csv',
 'datasets_breweries.csv',
 'dogs_cats',
 'ine_ingresos_hogar_2019.csv',
 'landscapes',
 'sarcasm',
 'test-balanced.csv']

In [9]:
df.head()

                        Nivel de ingresos mensuales netos regulares del hogar;Distribución porcentual de hogares y personas;Periodo;Total
Total;Hogares;2019;100                                                  0
Total;Hogares;2018;100                                                  0
Total;Hogares;2017;100                                                  0
Total;Hogares;2016;100                                                  0
Total;Hogares;2015;100                                                  0