# Ex1 - Getting and knowing your Data

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

The dataset is also in Google Classroom!! 20_4275_bundle_archive.zip

###  Step 2. Download the dataset to your computer and unzip it.

In [1]:
import numpy as np
import pandas as pd

### Step 3. Use the tsv file and assign it to a dataframe called food

In [2]:
'\n'

'\n'

In [3]:
food = pd.read_csv('C:\\Users\\Daney\\Desktop\\en.openfoodfacts.org.products.tsv', sep = '\t')

# Esto tambien vale
#food = pd.read_csv('C:/Users/Daney/Desktop/en.openfoodfacts.org.products.tsv', sep = '\t')

FileNotFoundError: [Errno 2] File b'C:\\Users\\Daney\\Desktop\\en.openfoodfacts.org.products.tsv' does not exist: b'C:\\Users\\Daney\\Desktop\\en.openfoodfacts.org.products.tsv'

### Step 4. See the first 5 entries

In [ ]:
food.head()

### Step 5. What is the number of observations in the dataset?

In [ ]:
food.shape

In [ ]:
food.shape[0]

In [ ]:
len(food.index)

In [8]:
# Infrmacion del dataframe
food.info()

NameError: name 'food' is not defined

In [9]:
# Info estadistica del dataframe
food.describe()

NameError: name 'food' is not defined

### Step 6. What is the number of columns in the dataset?

In [12]:
len(food.columns)

NameError: name 'food' is not defined

In [11]:
food.shape[1]

NameError: name 'food' is not defined

### Step 7. Print the name of all the columns.

In [14]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Step 8. What is the name of 105th column?

In [15]:
food.columns[105]

'-fructose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [17]:
food['-fructose_100g'].dtype

dtype('float64')

### Step 10. How is the dataset indexed?

In [18]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [20]:
'product_name' in food.columns

True

In [23]:
print(food.iloc[19]['product_name'])

Organic Oat Groats

In [27]:
fila = food.iloc[19]
print(fila)
#print(fila['product_name'])

code                                                                   18227
url                        http://world-en.openfoodfacts.org/product/0000...
creator                                                      usda-ndb-import
created_t                                                         1489055682
created_datetime                                        2017-03-09T10:34:42Z
                                                 ...
carbon-footprint_100g                                                    NaN
nutrition-score-fr_100g                                                   -6
nutrition-score-uk_100g                                                   -6
glycemic-index_100g                                                      NaN
water-hardness_100g                                                      NaN
Name: 19, Length: 163, dtype: object

In [25]:
print(food['product_name'][19])

Organic Oat Groats

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [13]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [14]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep ='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. See the first 10 entries

In [15]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [16]:
# Solution 1
chipo.shape[0]

4622

In [17]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [18]:
len(chipo)

4622

In [19]:
chipo.index.size

4622

### Step 6. What is the number of columns in the dataset?

In [20]:
chipo.shape[1]

5

In [21]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [22]:
chipo.columns.size

5

### Step 7. Print the name of all the columns.

In [23]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [24]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [25]:
chipo.index.values

array([   0,    1,    2, ..., 4619, 4620, 4621], dtype=int64)

### Step 9. Which was the most-ordered item?

In [26]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [27]:
# usar groupby
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [28]:
chipo.groupby('item_name').sum().sort_values(['quantity']).tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [29]:
# usar groupby
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [30]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending = False).head(1)['order_id']

item_name
Chicken Bowl    713926
Name: order_id, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [31]:
# usar groupby
chipo.groupby('choice_description').sum().sort_values(['quantity']).tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [32]:
chipo.groupby('choice_description').sum().sort_values(['quantity']).tail(1).index

Index(['[Diet Coke]'], dtype='object', name='choice_description')

### Step 12. How many items were orderd in total?

In [33]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [34]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.a. Check the item price type

In [35]:
chipo['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [36]:
fc_type = lambda x: float(x[1:])

chipo['item_price'] = chipo['item_price'].apply(fc_type)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

In [37]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [40]:
revenue = chipo['quantity']*chipo['item_price']
revenue.sum()

39237.02

### Step 15. How many orders were made in the period?

In [41]:
chipo.order_id.value_counts().count()

1834

In [42]:
len(chipo['order_id'].unique())

1834

### Step 16. What is the average revenue amount per order?

In [45]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [49]:
order_group = chipo.groupby('order_id').sum()
order_group.head()

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70

In [51]:
order_group['revenue'].mean()

21.394231188658654

In [52]:
order_group.mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [53]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [54]:
len(chipo['item_name'].unique())

50