# Aggregation and Grouping

An essential piece of analysis of large data is efficient summarization: computing aggregations like ``sum()``, ``mean()``, ``median()``, ``min()``, and ``max()``, in which a single number gives insight into the nature of a potentially large dataset.
In this section, we'll explore aggregations in Pandas, from simple operations akin to what we've seen on NumPy arrays, to more sophisticated operations based on the concept of a ``groupby``.

## Planets Data

Here we will use the Planets dataset, available via the [Seaborn package](http://seaborn.pydata.org/) (see [Visualization With Seaborn](04.14-Visualization-With-Seaborn.ipynb)).
It gives information on planets that astronomers have discovered around other stars (known as *extrasolar planets* or *exoplanets* for short). It can be downloaded with a simple Seaborn command:

In [102]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [103]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

This has some details on the 1,000+ extrasolar planets discovered up to 2014.

## Simple Aggregation in Pandas

Earlier, we explored some of the data aggregations available for NumPy arrays (["Aggregations: Min, Max, and Everything In Between"](02.04-Computation-on-arrays-aggregates.ipynb)).
As with a one-dimensional NumPy array, for a Pandas ``Series`` the aggregates return a single value:

In [4]:
import numpy as np 
import pandas as pd 

rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64

In [5]:
ser.sum()

2.811925491708157

In [6]:
ser.mean()

0.5623850983416314

For a ``DataFrame``, by default the aggregates return results within each column:

In [9]:
df = pd.DataFrame({"A":rng.rand(5), "B":rng.rand(5) })
df

          A         B
0  0.183405  0.611853
1  0.304242  0.139494
2  0.524756  0.292145
3  0.431945  0.366362
4  0.291229  0.456070

In [10]:
df.mean()

A    0.347115
B    0.373185
dtype: float64

By specifying the ``axis`` argument, you can instead aggregate within each row:

In [11]:
df.mean(axis = 1)

#Equivalente
df.mean(axis= 'columns')

0    0.397629
1    0.221868
2    0.408451
3    0.399153
4    0.373650
dtype: float64

Pandas ``Series`` and ``DataFrame``s **include all of the common aggregates mentioned in Aggregations: Min, Max, and Everything In Between**; in addition, there is a convenience method ``describe()`` that computes several common aggregates for each column and returns the result.
Let's use this on the Planets data, for now dropping rows with missing values:

In [13]:
planets.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [14]:
# Quitar 'missing values', eliminas las filas donde haya NaN
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

This can be a useful way to begin understanding the overall properties of a dataset.
For example, **we see in the ``year`` column that although exoplanets were discovered as far back as 1989, half of all known expolanets were not discovered until 2010 or after.**
This is largely thanks to the *Kepler* mission, which is a space-based telescope specifically designed for finding eclipsing planets around other stars.

The following table summarizes some other built-in Pandas aggregations:

| Aggregation              | Description                     |
|--------------------------|---------------------------------|
| ``count()``              | Total number of items           |
| ``first()``, ``last()``  | First and last item             |
| ``mean()``, ``median()`` | Mean and median                 |
| ``min()``, ``max()``     | Minimum and maximum             |
| ``std()``, ``var()``     | Standard deviation and variance |
| ``mad()``                | Mean absolute deviation         |
| ``prod()``               | Product of all items            |
| ``sum()``                | Sum of all items                |

These are all methods of ``DataFrame`` and ``Series`` objects.

To go deeper into the data, however, simple aggregates are often not enough.
The next level of data summarization is the ``groupby`` operation, which allows you to quickly and efficiently compute aggregates on subsets of data.

## GroupBy: Split, Apply, Combine

Simple aggregations can give you a flavor of your dataset, but often we would prefer to aggregate conditionally on some label or index: this is implemented in the so-called ``groupby`` operation.
The name "group by" comes from a command in the SQL database language, but it is perhaps more illuminative to think of it in the terms first coined by Hadley Wickham of Rstats fame: *split, apply, combine*.

### Split, apply, combine

This makes clear what the ``groupby`` accomplishes:

- The ***split*** step involves breaking up and grouping a ``DataFrame`` depending on the value of the specified key.
- The ***apply*** step involves computing some function, usually an aggregate, transformation, or filtering, within the individual groups.
- The ***combine*** step merges the results of these operations into an output array.

While this could certainly be done manually using some combination of the masking, aggregation, and merging commands covered earlier, an important realization is that *the intermediate splits do not need to be explicitly instantiated*. Rather, the ``GroupBy`` can (often) do this in a single pass over the data, updating the sum, mean, count, min, or other aggregate for each group along the way.
**The power of the ``GroupBy`` is that it abstracts away these steps**: the user need not think about *how* the computation is done under the hood, but rather thinks about the *operation as a whole*.

As a concrete example, let's take a look at using Pandas for the computation shown in this diagram.
We'll start by creating the input ``DataFrame``:

In [15]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

The most basic split-apply-combine operation can be computed with the ``groupby()`` method of ``DataFrame``s, passing the name of the desired key column:

In [19]:
grupo = df.groupby('key')
grupo
#Objeto_Clase 'DataFrameGroupBy', tiene sus propios atributos y métodos

In [21]:
grupo.groups

{'A': Int64Index([0, 3], dtype='int64'),
 'B': Int64Index([1, 4], dtype='int64'),
 'C': Int64Index([2, 5], dtype='int64')}

In [22]:
type(grupo.groups)

dict

In [24]:
grupo.sum()

     data
key
A       3
B       5
C       7

Notice that what is returned is not a set of ``DataFrame``s, but a ``DataFrameGroupBy`` object.
This object is where the magic is: **you can think of it as a special view of the ``DataFrame``, which is poised to dig into the groups but does no actual computation until the aggregation is applied.**
This "lazy evaluation" approach means that common aggregates can be implemented very efficiently in a way that is almost transparent to the user.

To produce a result, we can apply an aggregate to this ``DataFrameGroupBy`` object, which will perform the appropriate apply/combine steps to produce the desired result:

In [26]:
df2 = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6), 'data2': [9,8,7,6,5,4]}, columns=['key', 'data', 'data2'])
df2

  key  data  data2
0   A     0      9
1   B     1      8
2   C     2      7
3   A     3      6
4   B     4      5
5   C     5      4

Applies to all columns

In [25]:
df2.groupby('key').sum()

     data  data2
key
A       3     15
B       5     13
C       7     11

The ``sum()`` method is just one possibility here; you can apply virtually any common Pandas or NumPy aggregation function, as well as virtually any valid ``DataFrame`` operation, as we will see in the following discussion.

### The GroupBy object

**The ``GroupBy`` object is a very flexible abstraction.
In many ways, you can simply treat it as if it's a collection of ``DataFrame``s, and it does the difficult things under the hood**. Let's see some examples using the Planets data.

Perhaps the most important operations made available by a ``GroupBy`` are *aggregate*, *filter*, *transform*, and *apply*.
We'll discuss each of these more fully in ["Aggregate, Filter, Transform, Apply"](#Aggregate,-Filter,-Transform,-Apply), but before that let's introduce some of the other functionality that can be used with the basic ``GroupBy`` operation.

#### Column indexing

The ``GroupBy`` object supports column indexing in the same way as the ``DataFrame``, and returns a modified ``GroupBy`` object.
For example:

In [28]:
planets.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [27]:
planets.groupby('method')

In [29]:
planets.groupby('method')['orbital_period']

Here we've selected a particular ``Series`` group from the original ``DataFrame`` group by reference to its column name.
As with the ``GroupBy`` object, no computation is done until we call some aggregate on the object:

In [30]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [31]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

This gives an idea of the general scale of orbital periods (in days) that each method is sensitive to.

#### Iteration over groups

The ``GroupBy`` object supports direct iteration over the groups, returning each group as a ``Series`` or ``DataFrame``:

In [32]:
for (method, group) in planets.groupby('method'):
    print("Method", method)
    print("Sahpe", group.shape)

Method Astrometry
Sahpe (2, 6)
Method Eclipse Timing Variations
Sahpe (9, 6)
Method Imaging
Sahpe (38, 6)
Method Microlensing
Sahpe (23, 6)
Method Orbital Brightness Modulation
Sahpe (3, 6)
Method Pulsar Timing
Sahpe (5, 6)
Method Pulsation Timing Variations
Sahpe (1, 6)
Method Radial Velocity
Sahpe (553, 6)
Method Transit
Sahpe (397, 6)
Method Transit Timing Variations
Sahpe (4, 6)

This can be useful for doing certain things manually, though it is often much faster to use the built-in ``apply`` functionality, which we will discuss momentarily.

#### Dispatch methods

Through some Python class magic, any method not explicitly implemented by the ``GroupBy`` object will be passed through and called on the groups, whether they are ``DataFrame`` or ``Series`` objects.
For example, you can use the ``describe()`` method of ``DataFrame``s to perform a set of aggregations that describe each group in the data:

In [34]:
planets.groupby('method')['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [36]:
planets.groupby('method')['year'].describe().unstack()

       method
count  Astrometry                          2.0
       Eclipse Timing Variations           9.0
       Imaging                            38.0
       Microlensing                       23.0
       Orbital Brightness Modulation       3.0
                                         ...
max    Pulsar Timing                    2011.0
       Pulsation Timing Variations      2007.0
       Radial Velocity                  2014.0
       Transit                          2014.0
       Transit Timing Variations        2014.0
Length: 80, dtype: float64

In [38]:
planets.groupby('method')['year'].describe().unstack().index

MultiIndex([('count',                    'Astrometry'),
            ('count',     'Eclipse Timing Variations'),
            ('count',                       'Imaging'),
            ('count',                  'Microlensing'),
            ('count', 'Orbital Brightness Modulation'),
            ('count',                 'Pulsar Timing'),
            ('count',   'Pulsation Timing Variations'),
            ('count',               'Radial Velocity'),
            ('count',                       'Transit'),
            ('count',     'Transit Timing Variations'),
            ( 'mean',                    'Astrometry'),
            ( 'mean',     'Eclipse Timing Variations'),
            ( 'mean',                       'Imaging'),
            ( 'mean',                  'Microlensing'),
            ( 'mean', 'Orbital Brightness Modulation'),
            ( 'mean',                 'Pulsar Timing'),
            ( 'mean',   'Pulsation Timing Variations'),
            ( 'mean',               'Radial Velocity'),
            ( 'mean',                       'Transit'),
            ( 'mean',     'Transit Timing Variations'),
            (  'std',                    'Astrometry'),
            (  'std',     'Eclipse Timing Variations'),
            (  'std',                       'Imaging'),
            (  'std',                  'Microlensing'),
            (  'std', 'Orbital Brightness Modulation'),
            (  'std',                 'Pulsar Timing'),
            (  'std',   'Pulsation Timing Variations'),
            (  'std',               'Radial Velocity'),
            (  'std',                       'Transit'),
            (  'std',     'Transit Timing Variations'),
            (  'min',                    'Astrometry'),
            (  'min',     'Eclipse Timing Variations'),
            (  'min',                       'Imaging'),
            (  'min',                  'Microlensing'),
            (  'min', 'Orbital Brightness Modulation'),
            (  'min',                 'Pulsar Timing'),
            (  'min',   'Pulsation Timing Variations'),
            (  'min',               'Radial Velocity'),
            (  'min',                       'Transit'),
            (  'min',     'Transit Timing Variations'),
            (  '25%',                    'Astrometry'),
            (  '25%',     'Eclipse Timing Variations'),
            (  '25%',                       'Imaging'),
            (  '25%',                  'Microlensing'),
            (  '25%', 'Orbital Brightness Modulation'),
            (  '25%',                 'Pulsar Timing'),
            (  '25%',   'Pulsation Timing Variations'),
            (  '25%',               'Radial Velocity'),
            (  '25%',                       'Transit'),
            (  '25%',     'Transit Timing Variations'),
            (  '50%',                    'Astrometry'),
            (  '50%',     'Eclipse Timing Variations'),
            (  '50%',                       'Imaging'),
            (  '50%',                  'Microlensing'),
            (  '50%', 'Orbital Brightness Modulation'),
            (  '50%',                 'Pulsar Timing'),
            (  '50%',   'Pulsation Timing Variations'),
            (  '50%',               'Radial Velocity'),
            (  '50%',                       'Transit'),
            (  '50%',     'Transit Timing Variations'),
            (  '75%',                    'Astrometry'),
            (  '75%',     'Eclipse Timing Variations'),
            (  '75%',                       'Imaging'),
            (  '75%',                  'Microlensing'),
            (  '75%', 'Orbital Brightness Modulation'),
            (  '75%',                 'Pulsar Timing'),
            (  '75%',   'Pulsation Timing Variations'),
            (  '75%',               'Radial Velocity'),
            (  '75%',                       'Transit'),
            (  '75%',     'Transit Timing Variations'),
            (  'max',                    'Astrometry'),
            (  'max',     'Eclipse Timing Variations'),
            (  'max',                       'Imaging'),
            (  'max',                  'Microlensing'),
            (  'max', 'Orbital Brightness Modulation'),
            (  'max',                 'Pulsar Timing'),
            (  'max',   'Pulsation Timing Variations'),
            (  'max',               'Radial Velocity'),
            (  'max',                       'Transit'),
            (  'max',     'Transit Timing Variations')],
           names=[None, 'method'])

Looking at this table helps us to better understand the data: for example, **the vast majority of planets have been discovered by the Radial Velocity and Transit methods**, though the latter only became common (due to new, more accurate telescopes) in the last decade.
The newest methods seem to be Transit Timing Variation and Orbital Brightness Modulation, which were not used to discover a new planet until 2011.

This is just one example of the utility of dispatch methods.
Notice that they are applied *to each individual group*, and the results are then combined within ``GroupBy`` and returned.
Again, any valid ``DataFrame``/``Series`` method can be used on the corresponding ``GroupBy`` object, which allows for some very flexible and powerful operations!

### Aggregate, filter, transform, apply

The preceding discussion focused on aggregation for the combine operation, but there are more options available.
In particular, ``GroupBy`` objects have ``aggregate()``, ``filter()``, ``transform()``, and ``apply()`` methods that efficiently implement a variety of useful operations before combining the grouped data.

For the purpose of the following subsections, we'll use this ``DataFrame``:

In [39]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

#### Aggregation

We're now familiar with ``GroupBy`` aggregations with ``sum()``, ``median()``, and the like, but the ``aggregate()`` method allows for even more flexibility.
It can take a string, a function, or a list thereof, and compute all the aggregates at once.
Here is a quick example combining all these:

In [42]:
df.groupby('key').aggregate(['min',np.median, max])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [43]:
grouped = df.groupby('key').aggregate(['min',np.median, max])
print(grouped['data1'])
print(grouped['data1', 'min'])
print(grouped['data1']['min'])

min  median  max
key
A      0     1.5    3
B      1     2.5    4
C      2     3.5    5
key
A    0
B    1
C    2
Name: (data1, min), dtype: int64
key
A    0
B    1
C    2
Name: min, dtype: int64

Another useful pattern is to pass a dictionary mapping column names to operations to be applied on that column:

In [44]:
df.groupby('key').aggregate({"data1": 'min',
                             "data2": 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

#### Filtering

A filtering operation allows you to drop data based on the group properties.
For example, we might want to keep all groups in which the standard deviation is larger than some critical value:

In [46]:
def filter_func(x):
    return x['data2'].std() > 4

df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [47]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [51]:
df.groupby('key').filter(filter_func) #Se ha eliminado los registros de 'A'

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [53]:
def filter_func_min(x):
    return x['data2'].min() > 0
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [56]:
df.groupby('key')['data2'].min()

key
A    3
B    0
C    3
Name: data2, dtype: int32

In [54]:
df.groupby('key').filter(filter_func_min)

  key  data1  data2
0   A      0      5
2   C      2      3
3   A      3      3
5   C      5      9

The filter function should return a Boolean value specifying whether the group passes the filtering. Here because group A does not have a standard deviation greater than 4, it is dropped from the result.

#### Transformation

While aggregation must return a reduced version of the data, transformation can return some transformed version of the full data to recombine.
For such a transformation, the output is the same shape as the input.
A common example is to center the data by subtracting the group-wise mean:

In [60]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [67]:
df.mean(axis=0)
df.mean()

data1    2.5
data2    4.5
dtype: float64

In [58]:
df.groupby('key').transform(lambda x:x-x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [66]:
def media_col(x):
    return x-x.mean()


df.groupby('key').transform(media_col)

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

#### The apply() method

The ``apply()`` method lets you apply an arbitrary function to the group results.
The function should take a ``DataFrame``, and return either a Pandas object (e.g., ``DataFrame``, ``Series``) or a scalar; the combine operation will be tailored to the type of output returned.

For example, here is an ``apply()`` that normalizes the first column by the sum of the second:

In [68]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [74]:
def func_apply(x):
    x['data1'] /= x['data2'].sum()
    return x

In [75]:
df.groupby('key').apply(func_apply)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [76]:
# Creando una nueva columna
def func_apply_col_new(x):
    x['data3'] =  x['data1'] / x['data2'].sum()
    return x

In [77]:
df.groupby('key').apply(func_apply_col_new)

  key  data1  data2     data3
0   A      0      5  0.000000
1   B      1      0  0.142857
2   C      2      3  0.166667
3   A      3      3  0.375000
4   B      4      7  0.571429
5   C      5      9  0.416667

``apply()`` within a ``GroupBy`` is quite flexible: the only criterion is that the function takes a ``DataFrame`` and returns a Pandas object or scalar; what you do in the middle is up to you!

### Specifying the split key

In the simple examples presented before, we split the ``DataFrame`` on a single column name.
This is just one of many options by which the groups can be defined, and we'll go through some other options for group specification here.

#### A list, array, series, or index providing the grouping keys

The key can be any series or list with a length matching that of the ``DataFrame``. For example:

In [79]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [81]:
L = [0,1,0,1,2,0]

In [82]:
df.groupby(L).sum()

   data1  data2
0      7     17
1      4      3
2      4      7

Of course, this means there's another, more verbose way of accomplishing the ``df.groupby('key')`` from before:

In [87]:
df['key'].values

array(['A', 'B', 'C', 'A', 'B', 'C'], dtype=object)

In [86]:
df.groupby(df['key'].values).sum()

   data1  data2
A      3      8
B      5      7
C      7     12

#### A dictionary or series mapping index to group

Another method is to provide a dictionary that maps index values to the group keys:

In [88]:
df2 = df.set_index('key')
df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

In [89]:
mapping = {"A":'vowel', "B":'consonant',"C":'consonant'}

In [90]:
df2.groupby(mapping).sum()

           data1  data2
consonant     12     19
vowel          3      8

In [92]:
df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

#### Any Python function

Similar to mapping, you can pass any Python function that will input the index value and output the group:

In [98]:
df2.groupby(str.lower).sum()

   data1  data2
a      3      8
b      5      7
c      7     12

#### A list of valid keys

Further, any of the preceding key choices can be combined to group on a multi-index:

In [99]:
df2.groupby([str.lower, mapping]).mean()

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [100]:
df2.groupby([str.lower, mapping]).mean().index

MultiIndex([('a',     'vowel'),
            ('b', 'consonant'),
            ('c', 'consonant')],
           )

### Grouping example

As an example of this, in a couple lines of Python code we can put all these together and count discovered planets by method and by decade:

In [101]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

This shows the power of combining many of the operations we've discussed up to this point when looking at realistic datasets.
We immediately gain a coarse understanding of when and how planets have been discovered over the past several decades!

Here I would suggest digging into these few lines of code, and evaluating the individual steps to make sure you understand exactly what they are doing to the result.
It's certainly a somewhat complicated example, but understanding these pieces will give you the means to similarly explore your own data.