# Import necessary dependencies and settings

In [1]:
# importa pandas y numpy
import pandas as pd 
import numpy as np

## Dummy Coding Scheme

In [16]:
modelo = ["BMW Serie 4 Gran Coupe","Chevrolet Malibu","Citroën C5","Citroën DS5","Peugeot 807","Renault Espace","Renault Gran Espace","Seat Alhambra", "Subaru Forester","Nissan Qashqai","Lexus RX 400h","Volkswagen Tiguan","Audi SQ5"]
largo_m = [4.638 ,4.865,4.779,	4.530, 4.727 ,4.656,4.856,4.858,4.625,4.394,4.755,4.509,4.671]
ancho_m = [1.825,1.855,1.860,1.871,1.850,1.894,1.894,1.904,1.815,1.806,1.845,1.839,1.893]
alto_m = [1.389,1.465,1.458,1.513,1.854,1.801,1.819,1.720,1.730,1.590,1.670, 1.675,1.635]

tipo1 = ["berlina", "berlina","berlina","berlina", "monovolumen","monovolumen","monovolumen","monovolumen","SUV","SUV","SUV", "SUV", "SUV"]
tipo2 = ["cupé", "cupé","cupé","cupé", "familiar","familiar","familiar","familiar","Sport_utility","Sport_utility","Sport_utility", "Sport_utility", "Sport_utility"]

In [17]:
cars = pd.DataFrame({"modelo":modelo,"largo_m":largo_m,"ancho_m":ancho_m,"alto_m":alto_m,"tipo1":tipo1, "tipo2":tipo2})
cars

,modelo,largo_m,ancho_m,alto_m,tipo1,tipo2
0,BMW Serie 4 Gran Coupe,4.638,1.825,1.389,berlina,cupé
1,Chevrolet Malibu,4.865,1.855,1.465,berlina,cupé
2,Citroën C5,4.779,1.860,1.458,berlina,cupé
3,Citroën DS5,4.530,1.871,1.513,berlina,cupé
4,Peugeot 807,4.727,1.850,1.854,monovolumen,familiar
5,Renault Espace,4.656,1.894,1.801,monovolumen,familiar
6,Renault Gran Espace,4.856,1.894,1.819,monovolumen,familiar
7,Seat Alhambra,4.858,1.904,1.720,monovolumen,familiar
8,Subaru Forester,4.625,1.815,1.730,SUV,Sport_utility
9,Nissan Qashqai,4.394,1.806,1.590,SUV,Sport_utility
10,Lexus RX 400h,4.755,1.845,1.670,SUV,Sport_utility
11,Volkswagen Tiguan,4.509,1.839,1.675,SUV,Sport_utility
12,Audi SQ5,4.671,1.893,1.635,SUV,Sport_utility

In [40]:
# haz un get_dummies para una codificación dummy
cars_dummy = pd.get_dummies(cars, columns =['tipo1','tipo2'], prefix=['Tipo1', 'Tipo2'], drop_first= True)
cars_dummy #Selecciona el borrado de columna 1a por orden alfabético

,modelo,largo_m,ancho_m,alto_m,Tipo1_berlina,Tipo1_monovolumen,Tipo2_cupé,Tipo2_familiar
0,BMW Serie 4 Gran Coupe,4.638,1.825,1.389,1,0,1,0
1,Chevrolet Malibu,4.865,1.855,1.465,1,0,1,0
2,Citroën C5,4.779,1.860,1.458,1,0,1,0
3,Citroën DS5,4.530,1.871,1.513,1,0,1,0
4,Peugeot 807,4.727,1.850,1.854,0,1,0,1
5,Renault Espace,4.656,1.894,1.801,0,1,0,1
6,Renault Gran Espace,4.856,1.894,1.819,0,1,0,1
7,Seat Alhambra,4.858,1.904,1.720,0,1,0,1
8,Subaru Forester,4.625,1.815,1.730,0,0,0,0
9,Nissan Qashqai,4.394,1.806,1.590,0,0,0,0
10,Lexus RX 400h,4.755,1.845,1.670,0,0,0,0
11,Volkswagen Tiguan,4.509,1.839,1.675,0,0,0,0
12,Audi SQ5,4.671,1.893,1.635,0,0,0,0

In [20]:
# haz un fit() de Type 1 y mira las clases que aparecen

In [21]:
# haz un dummies sin eliminar ninguna columna que se obtenga solo de Type 1
# haz un head()

In [22]:
# comprueba en la codificación con la columna eliminada (dummy)
# pista: isin te puede ayudar

In [23]:
# comprueba qué hace el signo ~

In [24]:
# haz una lectura en el DataFrame con la última sentencia que emplea ~

In [25]:
# asígnalo a una variable y muestra un head

## Feature Hashing scheme

Find the number of different 'Genre' in the dataset.

In [26]:
# Usa vgsales.csv, léelo y haz un head()

In [27]:
# print('Total game genres: ' + str(len(df_videojuegos.Genre.unique())))
# print(df_videojuegos.Genre.sort_values().unique())

### We can see that there are a total of 12 genres of video games. If we used a one-hot encoding scheme on the Genre feature, we would end up having 12 binary features. Instead, we will now use a feature hashing scheme by leveraging scikit-learn’s FeatureHasher class, which uses a signed 32-bit version of the Murmurhash3 hash function. We will pre-define the final feature vector size to be 6 in this case.