# Bajando datos de diferentes fuentes. Ejemplos

## Bajar datos de Bicimad

In [1]:

import requests
import zipfile
# import io
import pandas as pd

# https://opendata.emtmadrid.es/getattachment/037ee8a5-b824-43b1-ac7b-76225c783993/201810_Usage_Bicimad.aspx

filename = 'bicis.zip'
url = 'https://opendata.emtmadrid.es/getattachment/7517a650-ccdf-4ab1-b1b0-a1d13694472e/201906_Usage_Bicimad.aspx'

r = requests.get(url, allow_redirects=True)

In [2]:
with open(filename, 'wb') as f: # wb write binary, abro el fichero y escribo en él. Con with los recursos se cierran bien
   f.write(r.content)

with zipfile.ZipFile(filename, 'r') as zip_ref: # r es read, voy a leer un zip
    zip_ref.extractall(".") # extraigo todo aquí, en .

In [3]:
datos_bicis = pd.read_json('201906_Usage_Bicimad.json',  lines=True, encoding ='latin-1') # leo el json línea a línea

In [4]:
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code,track
0,{'$oid': '5cf83b752f3843a016be4e2f'},e4d55deb9ac172a8d8f5f0a32599815bd51b7c8760d67e...,21,1,8,219,90,0,66,{'$date': '2019-06-01T00:00:00.000+0200'},,NaN
1,{'$oid': '5cf83b762f3843a016be4e48'},8a0c4123e924a50a958f51985eb71aea750fb072438035...,19,1,19,359,71,4,136,{'$date': '2019-06-01T00:00:00.000+0200'},28039,NaN
2,{'$oid': '5cf83b762f3843a016be4e4f'},a6a9c1f74a68496000542210abc4fc2eba79e2756ad535...,17,1,7,375,39,4,38,{'$date': '2019-06-01T00:00:00.000+0200'},28013,NaN
3,{'$oid': '5cf83b762f3843a016be4e53'},5706c0bd494acc02279d532821c9666b0e506d4f81c838...,4,1,21,264,66,5,90,{'$date': '2019-06-01T00:00:00.000+0200'},28009,NaN
4,{'$oid': '5cf83b762f3843a016be4e54'},eb1b6d32bd4add5d5ff91af72a38786d61075c090383a5...,3,1,13,367,152,4,166,{'$date': '2019-06-01T00:00:00.000+0200'},28006,NaN

## Importando datos desde la API de INE

In [5]:
import requests
import pandas as pd
import datetime


url_plantilla = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/{codigo}?nult={num_datos}'

# codigo de la serie de datos a consultar y numero de datos

codigo = "IPC118150" # Datos de variación del IPC en Andalucía
num_datos = 12 # últimos 12 datos

url = url_plantilla.format(codigo=codigo,
                           num_datos=num_datos)

# realizar la descarga de los datos usando la libreria request, y leyendo el formato json

respuesta = requests.get(url)

datos = respuesta.json()

print(datos)
# obtenemos el nombre de la serie para nombrar la columna en el data frame
nombre = datos['Nombre']

# Creamos una serie con las fechas, y las convertimos a zona horaria española y formateamos

fecha_serie_utc = pd.to_datetime([x['Fecha'] for x in datos['Data']], unit='ms', utc=True)
# en x la columna Fecha sale del valor en datos['Data'] pero formateando a fecha

fecha_serie_madrid = fecha_serie_utc.tz_convert('Europe/Madrid')

fecha_serie = [x.tz_localize(None).date()
               for x in fecha_serie_madrid]


# creamos una lista con los valores de la serie que vienen en el tag 'Valor'

ocupados_serie = [x['Valor']
                  for x in datos['Data']] 

print(type(ocupados_serie))

{'COD': 'IPC118150', 'Nombre': 'Andalucía, Total, Base 2011, General, Variación mensual', 'FK_Unidad': 135, 'FK_Escala': 1, 'Data': [{'Fecha': 1451602800000, 'FK_TipoDato': 1, 'FK_Periodo': 1, 'Anyo': 2016, 'Valor': -2.0, 'Secreto': False}, {'Fecha': 1454281200000, 'FK_TipoDato': 1, 'FK_Periodo': 2, 'Anyo': 2016, 'Valor': -0.4, 'Secreto': False}, {'Fecha': 1456786800000, 'FK_TipoDato': 1, 'FK_Periodo': 3, 'Anyo': 2016, 'Valor': 0.8, 'Secreto': False}, {'Fecha': 1459461600000, 'FK_TipoDato': 1, 'FK_Periodo': 4, 'Anyo': 2016, 'Valor': 0.8, 'Secreto': False}, {'Fecha': 1462053600000, 'FK_TipoDato': 1, 'FK_Periodo': 5, 'Anyo': 2016, 'Valor': 0.6, 'Secreto': False}, {'Fecha': 1464732000000, 'FK_TipoDato': 1, 'FK_Periodo': 6, 'Anyo': 2016, 'Valor': 0.4, 'Secreto': False}, {'Fecha': 1467324000000, 'FK_TipoDato': 1, 'FK_Periodo': 7, 'Anyo': 2016, 'Valor': -0.9, 'Secreto': False}, {'Fecha': 1470002400000, 'FK_TipoDato': 1, 'FK_Periodo': 8, 'Anyo': 2016, 'Valor': 0.1, 'Secreto': False}, {'Fecha': 1472680800000, 'FK_TipoDato': 1, 'FK_Periodo': 9, 'Anyo': 2016, 'Valor': 0.2, 'Secreto': False}, {'Fecha': 1475272800000, 'FK_TipoDato': 1, 'FK_Periodo': 10, 'Anyo': 2016, 'Valor': 1.2, 'Secreto': False}, {'Fecha': 1477954800000, 'FK_TipoDato': 1, 'FK_Periodo': 11, 'Anyo': 2016, 'Valor': 0.4, 'Secreto': False}, {'Fecha': 1480546800000, 'FK_TipoDato': 1, 'FK_Periodo': 12, 'Anyo': 2016, 'Valor': 0.5, 'Secreto': False}]}
<class 'list'>

In [6]:
# contruimos un dataframe de pandas con los valores

import pandas as pd

tabla = pd.DataFrame(ocupados_serie,
                     index=fecha_serie,
                     columns=[nombre])

In [7]:
tabla

            Andalucía, Total, Base 2011, General, Variación mensual
2016-01-01                                               -2.0
2016-02-01                                               -0.4
2016-03-01                                                0.8
2016-04-01                                                0.8
2016-05-01                                                0.6
2016-06-01                                                0.4
2016-07-01                                               -0.9
2016-08-01                                                0.1
2016-09-01                                                0.2
2016-10-01                                                1.2
2016-11-01                                                0.4
2016-12-01                                                0.5

## Web scrapping de IMDB

In [8]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# Download IMDB's Top 250 data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)
df = pd.DataFrame(imdb)
df


#for item in imdb:
#    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', 'Starring:', item['star_cast'])

,movie_title,year,place,star_cast,rating,vote,link
0,Cadena perpetua,1994,1,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",9.222728413795364,None,/title/tt0111161/
1,El padrino,1972,2,"Francis Ford Coppola (dir.), Marlon Brando, Al...",9.14886412325818,None,/title/tt0068646/
2,El padrino: Parte II,1974,3,"Francis Ford Coppola (dir.), Al Pacino, Robert...",8.981223713635329,None,/title/tt0071562/
3,El caballero oscuro,2008,4,"Christopher Nolan (dir.), Christian Bale, Heat...",8.973391623827071,None,/title/tt0468569/
4,12 hombres sin piedad,1957,5,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",8.930434523518265,None,/title/tt0050083/
...,...,...,...,...,...,...,...
245,Terminator,1984,246,"James Cameron (dir.), Arnold Schwarzenegger, L...",8.009034585128507,None,/title/tt0088247/
246,Mandarinas,2013,247,"Zaza Urushadze (dir.), Lembit Ulfsak, Elmo Nüg...",8.008325813651696,None,/title/tt2991224/
247,Aladdín,1992,248,"Ron Clements (dir.), Scott Weinger, Robin Will...",8.00742958808094,None,/title/tt0103639/
248,"Swades: We, the People",2004,249,"Ashutosh Gowariker (dir.), Shah Rukh Khan, Gay...",8.00719129464659,None,/title/tt0367110/
249,Neon Genesis Evangelion: The End of Evangelion,1997,250,"Hideaki Anno (dir.), Megumi Ogata, Megumi Haya...",8.007178991975186,None,/title/tt0169858/

## Accediendo a datos de twitter

In [9]:
#pip install tweepy

import tweepy  
import time
import csv

# estos token y keys hay que generarlos desde Twitter: https://apps.twitter.com
# https://developer.twitter.com/
# hay que registrarse una cuenta de desarrollador de aplicaciones que usan Twitter
# esos token y keys caducan pasado un tiempo (nos avisa al crearlos)

access_token = "xxx"  
access_token_secret = "xxx"  
consumer_key = "xxx"  
consumer_secret = "xxx"  
 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)  
auth.set_access_token(access_token, access_token_secret)  
api = tweepy.API(auth,wait_on_rate_limit=True)

In [10]:
csvFile = open('cop25.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

for tweet in tweepy.Cursor(api.search,q="#cop25",count=5000,
                           lang="en",
                           since="2019-10-12").items():
    print (tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

2020-10-01 01:26:56 RT @ATD4thWorld: #30daysforEcoSocialJustice #Day14

Last December’s #COP25 was one of the many United Nations events at which ATD Fourth Wo…
2020-10-01 00:35:17 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 23:55:51 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 23:09:47 RT @Onalytica: @GeraldKutney Hey, we've conducted some new research into #COP25 analysing the key topics &amp; influencers shaping the #Climate…
2020-09-30 23:02:34 @qikipedia shame the rest of Poland isn't more considerate about pollution:
#AirQuality #COP25 #COP26 https://t.co/YdOaS0UZeY
2020-09-30 18:41:55 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 18:41:05 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 18:28:56 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 18:00:28 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 17:43:14 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 17:34:47 RT @andytuit: @fff_whk “We simply have to stop digging and drilling...” #AntonioGuterres #COP25
https://t.co/qZBh1865cj
#climatecrisis #c…
2020-09-30 17:16:19 RT @collinrees: BREAKING: Dozens of activists just disrupted &amp; walked out of #COP25 panel featuring @Shell @BP_plc @Chevron.

We’re in a #C…
2020-09-30 16:51:25 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 16:50:56 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 15:48:07 RT @Abettervision: Featuring Dr. Peter Carter of the Emergency Climate Institute, whose interviews have gone viral:
1) Summarising the lac…
2020-09-30 14:49:33 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:49:12 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:47:25 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:41:38 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:20:14 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:03:22 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 14:00:42 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-30 13:38:40 @fff_whk “We simply have to stop digging and drilling...” #AntonioGuterres #COP25
https://t.co/qZBh1865cj… https://t.co/oIMTezAmmA
2020-09-30 13:38:29 #30daysforEcoSocialJustice #Day14

Last December’s #COP25 was one of the many United Nations events at which ATD Fo… https://t.co/Y6cfhVxdq3
2020-09-30 13:32:12 RT @IPCC_CH: Today, the #IPCC officially presents the Special Report on Climate Change and Land #SRCCL at #COP25 in Madrid.
Follow this thr…
2020-09-29 19:47:25 Old (December 2019) but good

Dr Peter Carter: summarising the lack of "climate emergency" at #COP25 https://t.co/bexc3VCf6T via @YouTube
2020-09-29 19:44:06 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 16:27:02 RT @mbachelet: Get #MAD4survival. Every country should stand with the most affected by getting on board the Madrid Ambition Drive for Survi…
2020-09-29 15:33:43 RT @GlobalGoalsUN: “We started working on this [Wikilimo] to provide climate resilience to communities that will be impacted most by climat…
2020-09-29 14:30:23 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 14:29:02 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 12:45:09 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 12:16:36 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 12:05:18 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 11:18:06 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 10:21:05 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 08:54:24 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 02:32:16 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 01:26:45 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 01:24:14 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 01:22:18 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-29 01:21:45 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 23:52:39 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 23:49:51 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 23:49:47 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 21:50:31 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 21:06:17 RT @takvera: While Australia was on fire last December Emissions Reduction Minister Angus Taylor failed to publicly mention once the climat…
2020-09-28 20:27:03 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 20:16:56 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 20:15:23 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 20:13:31 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 19:48:10 RT @i_ameztoy: Sakaka Solar Project🛰️💡🔋

It is a 300MW #photovoltaic ☀️ #solarFarm developed on a 6km² site near Sakaka, in the Al Jouf pro…
2020-09-28 13:35:54 RT @takvera: While Australia was on fire last December Emissions Reduction Minister Angus Taylor failed to publicly mention once the climat…
2020-09-28 12:01:48 While Australia was on fire last December Emissions Reduction Minister Angus Taylor failed to publicly mention once… https://t.co/KSoYPgAbiX
2020-09-28 10:02:46 RT @arikring: @Hazloe3 @ProfStrachan @ECOWARRIORSS @MsFowlersays @ChristineMilne @ristori20 @mzjacobson @charluv2011 @BSuhic @NJdoc @ddelic…
2020-09-28 09:56:32 RT @arikring: @Hazloe3 @ProfStrachan @ECOWARRIORSS @MsFowlersays @ChristineMilne @ristori20 @mzjacobson @charluv2011 @BSuhic @NJdoc @ddelic…
2020-09-28 09:32:11 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-28 03:25:06 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 21:18:05 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 21:00:03 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 20:59:47 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 11:15:19 RT @UNFCCC: It is #Gender Day today at #COP25!

A good time to acknowledge that #GenderEquality in @UNFCCC delegations is still far from ac…
2020-09-27 09:32:11 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 07:08:16 RT @arikring: @Hazloe3 @ProfStrachan @ECOWARRIORSS @MsFowlersays @ChristineMilne @ristori20 @mzjacobson @charluv2011 @BSuhic @NJdoc @ddelic…
2020-09-27 05:05:42 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-27 01:57:58 RT @IISD_SDGs: Climate change has hit people in the Global South hardest

For them, adaptation and mitigation aren't new practices

So it’s…
2020-09-27 01:50:29 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 21:14:54 RT @OPECSecretariat: The 17th Coordination Meeting of OPEC and Non-OPEC on Climate Change taking place today in Vienna. Experts from OPEC a…
2020-09-26 20:36:47 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 16:56:53 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 16:45:50 #UNGA

Women are at the forefront of climate change disasters around the world.

A feminist response to the Climate… https://t.co/GuWDPARCVk
2020-09-26 16:41:21 #UNGA

Women are at the forefront of climate change disasters around the world.

A feminist response to the Climate… https://t.co/Ig9Sg4R78A
2020-09-26 16:37:20 @MockCOP26 @GretaThunberg @COP26 @Jamie_Margolin @AlexandriaV2005 @vanessa_vash @Reuters @LicypriyaK @billmckibben… https://t.co/sAMSq4hm4B
2020-09-26 11:27:31 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 11:27:17 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 11:03:29 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:57:49 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:25:48 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:24:42 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:18:38 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:05:52 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 10:05:16 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 09:24:42 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-26 02:21:47 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-25 22:39:11 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-25 20:04:39 RT @MikeHudema: This 91 year old man is named John.

He was arrested at a #climate protest in London for trying to save our planet for futu…
2020-09-25 18:11:25 I just joined @BCorporation climate collective A group companies who have pledged to reach @UNFCCC #cop25 achieving… https://t.co/xlphH8JTIQ
2020-09-25 16:39:23 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-25 16:09:25 RT @IamCitSci: Here is an article about how social movements organized to oppose #COP25 https://t.co/VCuX3h4LK0.
2020-09-25 15:05:15 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-25 15:02:42 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-25 14:50:56 RT @GretaThunberg: On the morning train to New York and Santiago de Chile...
#cop25 #UNClimateActionSummit #fridaysforfuture #climatestrike…
2020-09-25 14:44:13 RT @CevikusHB: #ClimateStrike Week 38
Earlier this week, fellow climate activists were kicked out of #COP25 in #Madrid for climate crisis p…
2020-09-25 14:40:50 RT @GretaThunberg: School strike week 68. They say more than 500 000 people showed up tonight in Madrid!
#fridaysforfuture #climatestrike #…
2020-09-25 13:48:31 #COP25 was tough on a number of fronts, didn't move far enough on financing for adaptation and resilience the UK as… https://t.co/JFzGCtnBE1
2020-09-25 07:43:31 RT @takvera: Growler, the Growling Grass Frog from Craigieburn who attended #COP25 in Madrid found a stuffed friend. We’ll all be stuffed u…
2020-09-25 07:39:27 Growler, the Growling Grass Frog from Craigieburn who attended #COP25 in Madrid found a stuffed friend. We’ll all b… https://t.co/aAQj8mCR6T
2020-09-25 05:41:53 RT @DrRobBellamy: Unnatural climate solutions? Why the hype around ‘natural’ climate solutions threatens us all. New commentary by me and @…
2020-09-25 02:40:24 RT @IamCitSci: Here is an article about how social movements organized to oppose #COP25 https://t.co/VCuX3h4LK0.
2020-09-24 20:30:31 RT @Peters_Glen: How big is the CO₂ bucket for 1.5°C?

Well, the bucket is about to overflow in a few short years, unless we:
1. Turn off t…
2020-09-24 18:30:27 Here is an article about how social movements organized to oppose #COP25 https://t.co/VCuX3h4LK0.
2020-09-24 16:51:36 It will certainly be interesting to see what these 'new commitments' will entail. All our eyes will be on this virt… https://t.co/MsERWQV7Ld
2020-09-24 16:41:58 One of the most hypocritical public officials in the world is @CarolaSchmidtZ -- it is shameful that the internatio… https://t.co/IAIOTYUixg
2020-09-24 15:47:09 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-24 11:47:59 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-24 10:21:12 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-24 10:21:07 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-24 10:04:22 RT @GretaThunberg: “The politics needed do not exist today despite all the fancy words you might hear from world leaders.”
Here’s a link to…
2020-09-23 23:56:06 RT @ClimateDispatch: Doug Sims of ⁦@NRDC⁩ and ⁦@CGreenCapital⁩ at #cop25 in Madrid says #GreenBanks have mobilized $50 billion in climate s…
2020-09-23 15:38:56 RT @JocelynGPerry: Great to hear @PEspinosaC highlight work of @AshokSridharan1, Mayor of Bonn, Germany, home of @UNFCCC. Mayor Sridharan j…
2020-09-23 15:28:17 RT @JocelynGPerry: Great to hear @PEspinosaC highlight work of @AshokSridharan1, Mayor of Bonn, Germany, home of @UNFCCC. Mayor Sridharan j…
2020-09-23 15:08:10 For more on this work, check out our coverage of the discussions in Madrid at #COP25 https://t.co/pHEub0GF6t + the… https://t.co/vPdWbstKnI
2020-09-23 15:00:32 Great to hear @PEspinosaC highlight work of @AshokSridharan1, Mayor of Bonn, Germany, home of @UNFCCC. Mayor Sridha… https://t.co/fBLxNM1OTO
2020-09-23 09:07:00 @ScientistsX https://t.co/XvqFR5aqPk [Video] Dr Peter Carter: summarising the lack of "climate emergency" at #COP25… https://t.co/Sbk7dKxAdn
2020-09-23 08:40:19 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-23 08:02:55 RT @G7: @COP25CL The #G7Environnement ministerial meeting in May and the #G7Biarritz at the end of August helped encourage tangible commitm…
2020-09-23 08:00:43 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-23 07:57:34 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-23 05:13:44 RT @UNFCCC: A graphic showing all floods over 110 cm in Venice since the 1800s, published in
@sciam &gt; https://t.co/rA2FDSyaz9

Notice the…
2020-09-23 04:32:17 RT @andersen_inger: Climate change is affecting mountains much faster than other terrestrial habitats. 400 glaciers are at risk, and as we…
2020-09-23 03:05:32 RT @UN: Young people will face all the consequences of climate change in the most dramatic way. So they have a moral authority to tell my g…
2020-09-22 19:45:21 RT @greenmobiliser: Our founder At #COP25 with Nigerian focal point in Madrid. https://t.co/S22TjiAwK2
2020-09-22 16:44:32 RT @UnitedForClima1: https://t.co/LTqXouTRlX 6. Disclose Information On GreenHouseGas Emissions Including Fugitive Methane Emissions From L…
2020-09-22 16:02:13 RT @Alex_Verbeek: 🌎

NATO Review just published my article:

Planetary Security, the security implications of climate change.

RTs apprec…
2020-09-22 15:50:21 RT @UnitedForClima1: https://t.co/LTqXouTRlX 6. Disclose Information On GreenHouseGas Emissions Including Fugitive Methane Emissions From L…
2020-09-22 15:32:56 RT @UnitedForClima1: https://t.co/LTqXouTRlX 6. Disclose Information On GreenHouseGas Emissions Including Fugitive Methane Emissions From L…

In [11]:
csvFile = open('final_balonmano.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

for tweet in tweepy.Cursor(api.search,q="#GuerrerasTVE",count=5000,
                           lang="es",
                           since="2019-10-12").items():
    print (tweet.created_at, tweet.text)
    csvWriter.writerow([tweet.created_at, tweet.text.encode('utf-8')])

## Bajando datos de la calidad del aire

También existe un dataset en Kaggle, pero vamos a ver un ejemplo

In [12]:

import pandas as pd
import requests
import io
import csv

url2 = "http://www.mambiente.munimadrid.es/opendata/horario.txt"

datos=pd.read_csv(url2, header=None)#.content

In [13]:
datos

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,28,79,4,1,38,2,2020,10,1,8.0,...,0,N,0,N,0,N,0,N,0,N
1,28,79,4,6,48,2,2020,10,1,0.1,...,0,N,0,N,0,N,0,N,0,N
2,28,79,4,7,8,2,2020,10,1,1.0,...,0,N,0,N,0,N,0,N,0,N
3,28,79,4,8,8,2,2020,10,1,18.0,...,0,N,0,N,0,N,0,N,0,N
4,28,79,4,12,8,2,2020,10,1,20.0,...,0,N,0,N,0,N,0,N,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,28,79,60,7,8,2,2020,10,1,1.0,...,0,N,0,N,0,N,0,N,0,N
150,28,79,60,8,8,2,2020,10,1,28.0,...,0,N,0,N,0,N,0,N,0,N
151,28,79,60,10,47,2,2020,10,1,11.0,...,0,N,0,N,0,N,0,N,0,N
152,28,79,60,12,8,2,2020,10,1,30.0,...,0,N,0,N,0,N,0,N,0,N
153,28,79,60,14,6,2,2020,10,1,67.0,...,0,N,0,N,0,N,0,N,0,N