In [1]:
# 1. Crea un DataFrame con 3 columnas numéricas de atributos y una columna target de clasificación.
# Piensa en un ejemplo que no sean flores
# Usa índices NO NUMÉRICOS en tu ejemplo desde el constructor y ten 9 instancias en el DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
modelo = ["BMW Serie 4 Gran Coupe","Chevrolet Malibu","Citroën C5","Citroën DS5","Peugeot 807","Renault Espace","Renault Gran Espace","Seat Alhambra", "Subaru Forester","Nissan Qashqai","Lexus RX 400h","Volkswagen Tiguan","Audi SQ5"]
largo_m = [4.638 ,4.865,4.779,	4.530, 4.727 ,4.656,4.856,4.858,4.625,4.394,4.755,4.509,4.671]
ancho_m = [1.825,1.855,1.860,1.871,1.850,1.894,1.894,1.904,1.815,1.806,1.845,1.839,1.893]
alto_m = [1.389,1.465,1.458,1.513,1.854,1.801,1.819,1.720,1.730,1.590,1.670, 1.675,1.635]

tipo = ["berlina", "berlina","berlina","berlina", "monovolumen","monovolumen","monovolumen","monovolumen","SUV","SUV","SUV", "SUV", "SUV"]

In [3]:
cars = pd.DataFrame({"modelo":modelo,"largo_m":largo_m,"ancho_m":ancho_m,"alto_m":alto_m,"tipo":tipo})
cars

                    modelo  largo_m  ancho_m  alto_m         tipo
0   BMW Serie 4 Gran Coupe    4.638    1.825   1.389      berlina
1         Chevrolet Malibu    4.865    1.855   1.465      berlina
2               Citroën C5    4.779    1.860   1.458      berlina
3              Citroën DS5    4.530    1.871   1.513      berlina
4              Peugeot 807    4.727    1.850   1.854  monovolumen
5           Renault Espace    4.656    1.894   1.801  monovolumen
6      Renault Gran Espace    4.856    1.894   1.819  monovolumen
7            Seat Alhambra    4.858    1.904   1.720  monovolumen
8          Subaru Forester    4.625    1.815   1.730          SUV
9           Nissan Qashqai    4.394    1.806   1.590          SUV
10           Lexus RX 400h    4.755    1.845   1.670          SUV
11       Volkswagen Tiguan    4.509    1.839   1.675          SUV
12                Audi SQ5    4.671    1.893   1.635          SUV

In [4]:
# 2. Separa X e y del DataFrame

In [5]:
cars['num_tipo'] = cars['tipo']
cars['num_tipo'][cars['tipo'] == 'berlina'] = 1
cars['num_tipo'][cars['tipo'] == 'SUV'] = 3
cars['num_tipo'][cars['tipo'] == 'monovolumen'] = 2

In [6]:
cars

                    modelo  largo_m  ancho_m  alto_m         tipo num_tipo
0   BMW Serie 4 Gran Coupe    4.638    1.825   1.389      berlina        1
1         Chevrolet Malibu    4.865    1.855   1.465      berlina        1
2               Citroën C5    4.779    1.860   1.458      berlina        1
3              Citroën DS5    4.530    1.871   1.513      berlina        1
4              Peugeot 807    4.727    1.850   1.854  monovolumen        2
5           Renault Espace    4.656    1.894   1.801  monovolumen        2
6      Renault Gran Espace    4.856    1.894   1.819  monovolumen        2
7            Seat Alhambra    4.858    1.904   1.720  monovolumen        2
8          Subaru Forester    4.625    1.815   1.730          SUV        3
9           Nissan Qashqai    4.394    1.806   1.590          SUV        3
10           Lexus RX 400h    4.755    1.845   1.670          SUV        3
11       Volkswagen Tiguan    4.509    1.839   1.675          SUV        3
12                Audi SQ5    4.671    1.893   1.635          SUV        3

In [25]:
from sklearn.model_selection import train_test_split
X_cars = cars[['largo_m','ancho_m','alto_m']].values
y_cars = cars['num_tipo'].values

X_train, X_test, y_train, y_test = train_test_split(X_cars,y_cars, test_size = 0.30, random_state= 123)

In [26]:
# no importa que y sea una Serie

In [27]:
# 3. Estandariza usando sklearn todas las columnas numéricas
# Usa fit y luego transform
# Comprueba que la media es nula y la varianza unitaria

In [29]:
from sklearn import preprocessing
#Estandarizamos las columnas de dimensiones
std_scale = preprocessing.StandardScaler().fit(cars[["largo_m",	"ancho_m", "alto_m"]])
#std_scale = preprocessing.StandardScaler().fit(X_cars) # no importa que y sea un DAtaFrame
np_std = std_scale.transform(cars[["largo_m","ancho_m","alto_m"]])

In [23]:
np_std

array([[-0.31346128, -1.06316099, -1.75487213],
       [ 1.31224035, -0.08984459, -1.22335353],
       [ 0.69633577,  0.07237481, -1.27230919],
       [-1.08692284,  0.42925749, -0.88765757],
       [ 0.32392835, -0.25206399,  1.49718244],
       [-0.18455102,  1.17546673,  1.12651816],
       [ 1.24778522,  1.17546673,  1.25240414],
       [ 1.26210858,  1.49990553,  0.56003123],
       [-0.40656313, -1.38759979,  0.62996789],
       [-2.06091149, -1.67959471, -0.34914531],
       [ 0.52445542, -0.41428339,  0.21034795],
       [-1.23731815, -0.60894667,  0.24531628],
       [-0.0771258 ,  1.14302285, -0.03443035]])

In [30]:
# Comprueba que la media es nula y la varianza unitaria
print("Media Largo =", str(np.round(np_std[:,0].mean(),6)))
print("Media ancho =", str(np.round(np_std[:,1].mean(),6)))
print("Media alto =", str(np.round(np_std[:,2].mean(),6)))

Media Largo = 0.0
Media ancho = -0.0
Media alto = -0.0

In [33]:
[x.mean() for x in np_std.T]

[2.4478282648706577e-15, -2.801178092900395e-15, -8.059792149923012e-16]

In [31]:
# Comprueba que la media es nula y la varianza unitaria
print("Varianza Largo =", str(np.round(np_std[:,0].var(),6)))
print("Varianza ancho =", str(np.round(np_std[:,1].var(),6)))
print("Varianza alto =", str(np.round(np_std[:,2].var(),6)))

Varianza Largo = 1.0
Varianza ancho = 1.0
Varianza alto = 1.0

In [34]:
[x.std() for x in np_std.T]

[1.0, 1.0, 1.0]

In [13]:
# compruebo las desviaciones típicas

In [14]:
print("Desviación Largo =", str(np.round(np_std[:,0].std(),6)))
print("Desviación ancho =", str(np.round(np_std[:,1].std(),6)))
print("Desviación alto =", str(np.round(np_std[:,2].std(),6)))

Desviación Largo = 1.0
Desviación ancho = 1.0
Desviación alto = 1.0

In [15]:
# Ahora estandariza usando fit y transform en un solo paso

In [16]:
# ¡encadenando los métodos!
np_std = preprocessing.StandardScaler().fit_transform(cars[["largo_m",	"ancho_m", "alto_m"]])

In [17]:
# 4. Escalado minmax con fit y con transform
# Comprueba los valores mínimos y máximos

In [18]:
minmax_scale = preprocessing.MinMaxScaler().fit(cars[["largo_m",	"ancho_m", "alto_m"]])
np_minmax = minmax_scale.transform(cars[["largo_m","ancho_m","alto_m"]])

In [19]:
print("Min Largo =", str(np.round(np_minmax[:,0].min(),6)))
print("Min ancho =", str(np.round(np_minmax[:,1].min(),6)))
print("Min alto =", str(np.round(np_minmax[:,2].min(),6)))

Min Largo = 0.0
Min ancho = 0.0
Min alto = 0.0

In [20]:
print("Max Largo =", str(np.round(np_minmax[:,0].max(),6)))
print("Max ancho =", str(np.round(np_minmax[:,1].max(),6)))
print("Max alto =", str(np.round(np_minmax[:,2].max(),6)))

Max Largo = 1.0
Max ancho = 1.0
Max alto = 1.0

In [21]:
# Ahora haz el escalado en un solo paso con fit y transform juntos

In [22]:
np_minmax = preprocessing.MinMaxScaler().fit_transform(cars[["largo_m",	"ancho_m", "alto_m"]])

In [24]:
np_minmax

array([[0.51804671, 0.19387755, 0.        ],
       [1.        , 0.5       , 0.16344086],
       [0.81740977, 0.55102041, 0.1483871 ],
       [0.28874735, 0.66326531, 0.26666667],
       [0.70700637, 0.44897959, 1.        ],
       [0.55626327, 0.89795918, 0.88602151],
       [0.98089172, 0.89795918, 0.92473118],
       [0.985138  , 1.        , 0.71182796],
       [0.49044586, 0.09183673, 0.73333333],
       [0.        , 0.        , 0.43225806],
       [0.76645435, 0.39795918, 0.60430108],
       [0.24416136, 0.33673469, 0.61505376],
       [0.5881104 , 0.8877551 , 0.52903226]])

¡Felicidades! Ya tienes las columnas numéricas listas para poder aplicar después modelos de ML basados en distancias
Recuerda que también debes tratar datos nulos y outliers