In [257]:
# Bonus de Pandas

In [258]:
# 1. importa pandas y numpy

In [2]:
import pandas as pd 
import numpy as np

In [3]:
# 2. Crea un DataFrame df con las columnas 'Col1': [1,2,3,4,5,6,7,8] y 'Col2': [-2,4,-6,8,1,2,3,4]

In [22]:
df = pd.DataFrame({'Col1': [1,2,3,4,5,6,7,8] ,'Col2': [-2,4,-6,8,1,2,3,4]})
df

   Col1  Col2
0     1    -2
1     2     4
2     3    -6
3     4     8
4     5     1
5     6     2
6     7     3
7     8     4

In [260]:
# 3. añade una columna 'Col3' con [8,7,6,5,4,5,2,3]

In [23]:
df['Col3'] =  [8,7,6,5,4,5,2,3]

In [8]:
df

   Col1  Col2  Col3
0     1    -2     8
1     2     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [261]:
# 4. Selecciona solo 'Col2', ¿de qué tipo es?

In [9]:
type(df['Col2'])

pandas.core.series.Series

In [262]:
# 5. Selecciona 'Col1' y 'Col3'

In [10]:
df[['Col1','Col3']]

   Col1  Col3
0     1     8
1     2     7
2     3     6
3     4     5
4     5     4
5     6     5
6     7     2
7     8     3

In [263]:
# 6. Selecciona todas las filas donde Col1 sea mayor de 2 y Col3 mayor de 2 también

In [24]:
mask = (df['Col1'] > 2) & (df['Col3'] > 2)
mask

0    False
1    False
2     True
3     True
4     True
5     True
6    False
7     True
dtype: bool

In [25]:
df[mask]

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [264]:
# 7. Selecciona las filas donde 'Col1' es >2 y 'Col3' > 2 y asígnalo a la variable df_mayor_de_dos

In [26]:
df_mayor_de_dos = df[mask]
df_mayor_de_dos

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [265]:
# 8. Si seleccionamos parte o un DataFrame entero y lo asignamos a otra variable, son dos variables que apuntan al mismo objeto
# Ejemplo: df_mayor_de_dos apunta a un trozo de df. Si cambio cualquier elemento en df o en df_mayor_de_dos, se cambia en todos
# Cambia df.iloc[1,0] = 100
# iloc selecciona la fila 1 y la columna 0 del DaaFrame

In [27]:
df.iloc[1,0] = 100
df

   Col1  Col2  Col3
0     1    -2     8
1   100     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [17]:
df_mayor_de_dos

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [266]:
# 9. Si quieres poner en una variable un DataFrame DISTINTO y no un "enlace" a otro, hay que usar copy()

In [28]:
df_distinto = df.copy()
df_distinto

   Col1  Col2  Col3
0     1    -2     8
1   100     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [267]:
# ahora si cambio después df, no afectará a df_distinto

In [29]:
df.iloc[2,0] = 200
df

   Col1  Col2  Col3
0     1    -2     8
1   100     4     7
2   200    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [30]:
df_distinto == df

    Col1  Col2  Col3
0   True  True  True
1   True  True  True
2  False  True  True
3   True  True  True
4   True  True  True
5   True  True  True
6   True  True  True
7   True  True  True

In [31]:
df_distinto

   Col1  Col2  Col3
0     1    -2     8
1   100     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [268]:
# 10. Vamos a afianzar LOC e ILOC

In [269]:
# En numpy se accede a las filas y columnas directamente

In [32]:
np_array = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]])
np_array

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [35]:
# seleccionamos la fila 2 y la columna 2
np_array[2,2]
np_array[1,1]

5

In [271]:
# En un DataFrame tenemos índices (filas) y columnas
# En un DataFrame usamos SIEMPRE loc o iloc para acceder a las filas y columas

In [272]:
# 11. ILOC es con i de integer, usa NÚMEROS. df.iloc[número_de_fila, número_de_columna]
# En iloc se ponen NÚMEROS, y si se puede, se cogen esas filas y columnas

In [36]:
df_mayor_de_dos

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [273]:
# Usando df_mayor_de_dos selecciona las tres primeras filas y las columnas segunda, tercera, cuarta y quinta
# los números para filas/columnas empiezan en 0 y es primero_que_coges:primero_que_NO_coges

In [43]:
df_mayor_de_dos.iloc[0:3,1:5]

   Col2  Col3
2    -6     6
3     8     5
4     1     4

In [274]:
# vemos que los números de ILOC es nuestra cuenta en el DataFrame, NO SON ni los índices ni las columnas.
# Ejemplo: si una columna se llama '7', NO tiene que ver con nuestra cuenta. Una columna llamada '7' puede ser la primera columna
# y una fila con índice '8' puede ser mi primera fila del DataFrame. ¡ES MUY IMPORTANTE!

In [275]:
# LOC nos sirve para seleccionar filas/columnas con SU NOMBRE de índice y de columna
#

In [39]:
df_mayor_de_dos.loc[0:10,['Col1','Col3']]

   Col1  Col3
2     3     6
3     4     5
4     5     4
5     6     5
7     8     3

In [276]:
# El nombre de las columnas son strings, tienen que existir. Un string que no exista te dará un error

In [277]:
# Los índices son números, puedes intentar que los busque y si no existen, no pasa nada

In [278]:

# 0:10 --> coge los que puedas
# ['Col2', 'Col3'] --> strings que existan

In [279]:
# 12. Incluye una columna 'Col4' con ['buenos','días', '¿qué', 'tal', 'estás?']

In [44]:
df_mayor_de_dos['Col4']=  ['buenos','días', '¿qué', 'tal', 'estás?']

In [280]:
# Warning: estás intentando cambiar un valor en un trozo pequeño de DataFrame que viene de un DataFrame grande
# Lo cambia en el pequeño

In [45]:
df_mayor_de_dos

   Col1  Col2  Col3    Col4
2     3    -6     6  buenos
3     4     8     5    días
4     5     1     4    ¿qué
5     6     2     5     tal
7     8     4     3  estás?

In [46]:
df

   Col1  Col2  Col3
0     1    -2     8
1   100     4     7
2   200    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [281]:
# si quiero evitar el Warning, o hago una copia y "rompo" el enlace al que apunta (del trozo de DataFrame pequeño al DataFrame grande)
# o lo cambio en el grande (y se vería el cambio en el trozo pequeño)

In [282]:
# 13. Quiero usar 'Col4' como índices de df_mayor_de_dos

In [47]:
df_mayor_de_dos.set_index('Col4')

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [48]:
df_mayor_de_dos

   Col1  Col2  Col3    Col4
2     3    -6     6  buenos
3     4     8     5    días
4     5     1     4    ¿qué
5     6     2     5     tal
7     8     4     3  estás?

In [283]:
# ¡No ha cambiado! Me ha enseñado cómo quedaría, TENGO que igualarlo en la variable para cambiarlo

In [50]:
df_mayor_de_dos_indice = df_mayor_de_dos.set_index('Col4')
df_mayor_de_dos_indice #Cambiado a una variable

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [51]:
df_mayor_de_dos.set_index('Col4', inplace=True)  #Cambiando mendiante por parámetro de método 'inplace='
df_mayor_de_dos

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [284]:
# ¡Cambiado!

In [285]:
# uso LOC para coger 'días', '¿qué', 'estás?' y 'Col1', 'Col3'

In [55]:
df_mayor_de_dos.loc[:,['Col1','Col3']]

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [56]:
df_mayor_de_dos.loc[['días','¿qué','estás?'],['Col1','Col3']]

        Col1  Col3
Col4
días       4     5
¿qué       5     4
estás?     8     3

In [286]:
# Selecciono lo mismo con ILOC

In [57]:
df_mayor_de_dos.iloc[[1,2,4],[0,2]]

        Col1  Col3
Col4
días       4     5
¿qué       5     4
estás?     8     3

In [65]:
df_mayor_de_dos.iloc[:,:]

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [61]:
# 14. Vamos a borrar una columa, 'Col2'
df_mayor_de_dos = df_mayor_de_dos.drop(['Col2'],axis=1)

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [69]:
df_mayor_de_dos #No se borra

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [288]:
# Tanto drop como set_index NECESITAN que los iguale a la variable o usar el argumento INPLACE = True dentro del método
# DROP borra y no es reversible, es una forma de asegurarse de que lo quieres borrar
# SET_INDEX borra los índices anteriores y es irreversible, es una forma de asegurarse de que lo quieres borrar

### Resumen

* en numpy se accede directamente a las filas y columnas: np_array[2:4,6:8]

* en pandas se accede directamente a columnas: mi_df[['col1', 'col2', 'col3']]

* en pandas para acceder a filas y columnas se usa LOC o ILOC

* ILOC: numeras las filas y columnas SIN MIRAR el nombre de columnas e índices. Si es numérico intenta cogerlo si existe, string tiene que existir.

* LOC: filas y columnas por su nombre. Si es numérico intenta cogerlo si existe, string tiene que existir.

* LOC/ILOC cogen trozos de DataFrame. Si cambio el original grande, cambia en el trozo también

* Para trabajar con OTRO DataFrame se usa copy():   me_refiero_al_mismo = df    soy_otro_nuevo = df.copy()

* Para seleccionar filas que cumplan condiciones en columnas:  df[(df['Col1'] > 2) & (df['Col3'] > 5)] NO AND/OR SÍ &/|

* Para añadir una columna: df['nueva_col']=[1,2,3,4]

* Para borrar una columna: df = df.drop(...) IGUALO o df.drop(..., inplace = True), tengo que CONFIRMAR porque se va a BORRAR

* Para cambiar los índices por los valores de una columna: df = df.set_index('Col1') o df.set_index(..., inplace = True), tengo que CONFIRMAR porque se va a BORRAR