## 101 Pandas Exercises for Data Analysis 
https://www.machinelearningplus.com/python/101-pandas-exercises-python/

#### 1. How to import pandas and check the version?

In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd.__version__

'0.25.1'

In [3]:
#Book solution
pd.show_versions(as_json=True)

{'system': {'commit': None, 'python': '3.7.4.final.0', 'python-bits': 64, 'OS': 'Windows', 'OS-release': '10', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 142 Stepping 10, GenuineIntel', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'None', 'LOCALE': 'None.None'}, 'dependencies': {'pandas': '0.25.1', 'numpy': '1.18.1', 'pytz': '2019.3', 'dateutil': '2.8.0', 'pip': '19.2.3', 'setuptools': '41.4.0', 'Cython': '0.29.13', 'pytest': '5.2.1', 'hypothesis': None, 'sphinx': '2.2.0', 'blosc': None, 'feather': None, 'xlsxwriter': '1.2.1', 'lxml.etree': '4.4.1', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10.3', 'IPython': '7.8.0', 'pandas_datareader': None, 'bs4': '4.8.0', 'bottleneck': '1.2.1', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.1.1', 'numexpr': '2.7.0', 'odfpy': None, 'openpyxl': '3.0.0', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 's3fs': None, 'scipy': '1.3.1', 'sqlalchemy': '1.3.9', 'tables': '3.5.2', 'xarray': None, 'xlrd': '1.2.0', 'xlwt': '1.3.0'}}

#### 2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary

mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
mylist = pd.Series(mylist)

myarr = pd.Series(myarr)

mydict = pd.Series(mydict)

In [6]:
print(mylist[:5])

0    a
1    b
2    c
3    e
4    d
dtype: object

In [7]:
print(myarr[:5])

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [8]:
print(mydict[:5])

a    0
b    1
c    2
e    3
d    4
dtype: int64

#### 3. How to convert the index of a series into a column of a dataframe?

Difficulty Level: L1

Convert the series ser into a dataframe with its index as another column on the dataframe.

In [9]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser[:5]

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [10]:
ser
df = pd.DataFrame({"Col1": ser.index, "Col2":ser.values}, index=ser)
df.head()

  Col1  Col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [11]:
# Solution 
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

#### 4. How to combine many series to form a dataframe?
Difficulty Level: L1

Combine ser1 and ser2 to form a dataframe.

In [12]:
#input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [13]:
df = pd.DataFrame({'Col_1': ser1,
                   'Col_2': ser2})

In [14]:
df.head()

  Col_1  Col_2
0     a      0
1     b      1
2     c      2
3     e      3
4     d      4

In [15]:
# Book Solution 1
df = pd.concat([ser1, ser2], axis=1) #axis = 1 = Columns
type(df)

pandas.core.frame.DataFrame

In [16]:
# Book Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

#### 5. How to assign name to the series’ index?
Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

In [17]:
#input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [18]:
ser.rename('alphabets')[:5]

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [19]:
# Book Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

#### 6. How to get the items of series A not present in series B?
Difficulty Level: L2

From ser1 remove items present in ser2.

In [20]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [21]:
ser1 = ser1[~(ser1.isin(ser2))]

In [22]:
ser1

0    1
1    2
2    3
dtype: int64

In [23]:
# Book Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 7. How to get the items not common to both series A and series B?
Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [25]:
not_common = pd.concat([ser1[~ser1.isin(ser2)],ser2[~ser2.isin(ser1)]])
not_common

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [26]:
#Book solution

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [27]:
ser_u[~ser_u.isin(ser_i)].all() == not_common.all()

True

#### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?
Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [28]:
#input 
np.random.seed(10)
ser = pd.Series(np.random.normal(10, 5, 25))

In [29]:
ser[:5]

0    16.657933
1    13.576395
2     2.272999
3     9.958081
4    13.106680
dtype: float64

In [30]:
ser.describe()

count    25.000000
mean     10.485604
std       5.398767
min       0.111359
25%       6.399572
50%      11.143151
75%      13.576395
max      21.924837
dtype: float64

In [31]:
#Book solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.1113586 ,  6.3995722 , 11.14315065, 13.57639487, 21.92483665])

#### 9. How to get frequency counts of unique items of a series?
Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

In [32]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [33]:
ser.value_counts()

a    7
h    5
e    5
b    3
c    3
d    3
g    3
f    1
dtype: int64

In [34]:
# Book Solution
ser.value_counts()

a    7
h    5
e    5
b    3
c    3
d    3
g    3
f    1
dtype: int64

#### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?
Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [35]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)
ser.value_counts()[:2]

0     1
1     3
2     1
3     3
4     3
5     1
6     4
7     2
8     1
9     4
10    2
11    3
dtype: int32

3    4
1    4
dtype: int64

In [36]:
ser.value_counts()[:2].index

Int64Index([3, 1], dtype='int64')

In [37]:
ser[~(ser.isin(ser.value_counts()[:2].index))] = 'Other'

In [38]:
ser

0         1
1         3
2         1
3         3
4         3
5         1
6     Other
7     Other
8         1
9     Other
10    Other
11        3
dtype: object

In [39]:
# Book Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 3        4
1        4
Other    4
dtype: int64

0         1
1         3
2         1
3         3
4         3
5         1
6     Other
7     Other
8         1
9     Other
10    Other
11        3
dtype: object

#### 11. How to bin a numeric series to 10 groups of equal size?
Difficulty Level: L2

Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [40]:
ser = pd.Series(np.random.random(20))
ser

0     0.093460
1     0.821106
2     0.151152
3     0.384114
4     0.944261
5     0.987625
6     0.456305
7     0.826123
8     0.251374
9     0.597372
10    0.902832
11    0.534558
12    0.590201
13    0.039282
14    0.357182
15    0.079613
16    0.305460
17    0.330719
18    0.773830
19    0.039959
dtype: float64

In [41]:
# Book Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0     2nd
1     8th
2     3rd
3     5th
4    10th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

#### 12. How to convert a numpy array to a dataframe of given shape? (L1)
Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [42]:
#input
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     2
1     3
2     6
3     1
4     2
5     1
6     2
7     1
8     3
9     2
10    2
11    1
12    1
13    6
14    1
15    5
16    7
17    7
18    1
19    3
20    4
21    4
22    3
23    7
24    1
25    6
26    2
27    4
28    7
29    6
30    6
31    2
32    9
33    1
34    6
dtype: int32

In [43]:
pd.DataFrame(ser.values.reshape(7,5))

   0  1  2  3  4
0  2  3  6  1  2
1  1  2  1  3  2
2  2  1  1  6  1
3  5  7  7  1  3
4  4  4  3  7  1
5  6  2  4  7  6
6  6  2  9  1  6

In [44]:
# Book Solution
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  2  3  6  1  2
1  1  2  1  3  2
2  2  1  1  6  1
3  5  7  7  1  3
4  4  4  3  7  1
5  6  2  4  7  6
6  6  2  9  1  6

#### 13. How to find the positions of numbers that are multiples of 3 from a series?
Difficulty Level: L2

Find the positions of numbers that are multiples of 3 from ser.

Input

In [45]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    9
1    6
2    8
3    9
4    6
5    9
6    2
dtype: int32

In [46]:
mask = ser.values%3 == 0
print(ser[mask])
ser[mask].index

0    9
1    6
3    9
4    6
5    9
dtype: int32

Int64Index([0, 1, 3, 4, 5], dtype='int64')

In [47]:
# Book Solution
print(ser)
np.argwhere(ser % 3==0)

0    9
1    6
2    8
3    9
4    6
5    9
6    2
dtype: int32

array([[0],
       [1],
       [3],
       [4],
       [5]], dtype=int64)

#### 14. How to extract items at given positions from a series
Difficulty Level: L1

From ser, extract the items at positions in list pos.

Input

In [48]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [49]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [50]:
# Book Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### 15. How to stack two series vertically and horizontally ?
Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

In [51]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [52]:
#Vertically
pd.concat([ser1,ser2])

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [53]:
#Horizontally
pd.concat([ser1,ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [54]:
# Book solution
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### 16. How to get the positions of items of series A in another series B?
Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

Input

In [55]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [56]:
ser1[ser1.isin(ser2)].index

Int64Index([0, 4, 5, 8], dtype='int64')

In [57]:
# Book Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Book Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

#### 17. How to compute the mean squared error on a truth and predicted series?
Difficulty Level: L2

Compute the mean squared error of truth and pred series.

Input

In [58]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [59]:
# Book Solution
np.mean((truth-pred)**2)

0.1867779426084901

#### 18. How to convert the first character of each element in a series to uppercase?
Difficulty Level: L2

Change the first character of each word to upper case in each word of ser.

In [60]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser

0     how
1      to
2    kick
3    ass?
dtype: object

In [61]:
ser = pd.Series([x[:1].upper()+x[1:] for x in ser])
ser

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [62]:
# Solution 1
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [63]:
# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [64]:
# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### 19. How to calculate the number of characters in each word in a series?
Difficulty Level: L2

Input

In [65]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [66]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [67]:
# Book Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

#### 20. How to compute difference of differences between consequtive numbers of a series?
Difficulty Level: L1

Difference of differences between the consequtive numbers of ser.

Input

In [68]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [69]:
len(ser)

8

In [70]:
dif_ser = []
for i in range(len(ser)-1):
  dif_ser.append(ser[i+1]-ser[i])

dif_ser

[2, 3, 4, 5, 6, 6, 8]

In [71]:
# Solution
print(ser.diff().tolist())
ser.diff().diff().tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#### 21. How to convert a series of date-strings to a timeseries?
Difficiulty Level: L2

Input

In [72]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [73]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [74]:
# Solution 1
from dateutil.parser import parse
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [75]:
# Solution 2
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

####  22. How to get the day of month, week number, day of year and day of week from a series of date strings?

Difficiulty Level: L2

Get the day of month, week number, day of year and day of week from ser.

Input

In [76]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(ser)

In [77]:
ser.dt.day_name()

0       Friday
1    Wednesday
2     Saturday
3     Thursday
4       Monday
5     Saturday
dtype: object

In [78]:
ser.dt.dayofweek

0    4
1    2
2    5
3    3
4    0
5    5
dtype: int64

In [79]:
ser.dt.week

0    53
1     5
2     9
3    14
4    19
5    23
dtype: int64

In [80]:
ser.dt.dayofyear

0      1
1     33
2     63
3     94
4    125
5    157
dtype: int64

In [81]:
ser.dt.daysinmonth

0    31
1    28
2    31
3    30
4    31
5    30
dtype: int64

#### 23. How to convert year-month string to dates corresponding to the 4th day of the month?
Difficiulty Level: L2

Change ser to dates that start with 4th of the respective months.

Input

In [94]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [83]:
ser = pd.to_datetime(ser)
ser

0   2010-01-01
1   2011-02-01
2   2012-03-01
dtype: datetime64[ns]

In [84]:
ser = ser.map(lambda x: x.replace(day=4))
ser

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [95]:
#Book solution

# Solution 1
from dateutil.parser import parse
# Parse the date
ser_ts = ser.map(lambda x: parse(x))

# Construct date string with date as 4
ser_datestr = ser_ts.dt.year.astype('str') + '-' + ser_ts.dt.month.astype('str') + '-' + '04'

# Format it.
[parse(i).strftime('%Y-%m-%d') for i in ser_datestr]

# Solution 2
ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

#### 24. How to filter words that contain atleast 2 vowels from a series?
Difficiulty Level: L3

From ser, extract words that contain atleast 2 vowels.

Input

In [86]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [87]:
vowels = list('aeiou')
l = []

for word in ser.values:
    count = 0
    for char in word:
        if (char.lower() in vowels):
            count = count + 1
            if count > 1:
                l.append(word)
                break
               
print(l)

['Apple', 'Orange', 'Money']

In [96]:
#Book solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

Series([], dtype: object)

#### 25. How to filter valid emails from a series?
Difficiulty Level: L3

Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

Input

In [97]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [98]:
import re as re 
[line for line in emails if re.match(pattern, line)]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [99]:
# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

#### 26. How to get the mean of a series grouped by another series?
Difficiulty Level: L2

Compute the mean of weights of each fruit.

Input

In [100]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'carrot', 'banana', 'carrot', 'carrot', 'banana', 'apple', 'banana', 'banana', 'apple']

In [101]:
df = pd.DataFrame({"fuits":fruit, "weights": weights})

In [102]:
df.groupby('fuits').mean()

         weights
fuits
apple   8.500000
banana  5.400000
carrot  3.666667

In [103]:
# Book Solution
weights.groupby(fruit).mean()

apple     8.500000
banana    5.400000
carrot    3.666667
dtype: float64

#### 27. How to compute the euclidean distance between two series?
Difficiulty Level: L2

Compute the euclidean distance between series (points) p and q, without using a packaged formula.

Input

In [104]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [105]:
dist = (np.linalg.norm(p-q)) 
dist

18.16590212458495

In [106]:
# Solution 
sum((p - q)**2)**.5

# Solution (using func)
np.linalg.norm(p-q)

18.16590212458495

#### 28. How to find all the local maxima (or peaks) in a numeric series?
Difficiulty Level: L3

Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

Input

In [107]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [108]:
[i for i,x in enumerate(ser) if (i!= 0 and i!=(len(ser)-1) and ser[i-1]< x >ser[i+1])]

[1, 5, 7]

In [109]:
# Book Solution
dd = np.diff(np.sign(np.diff(ser)))
peak_locs = np.where(dd == -2)[0] + 1
peak_locs

array([1, 5, 7], dtype=int64)

#### 29. How to replace missing spaces in a string with the least frequent character?
Replace the spaces in my_str with the least frequent character.

Difficiulty Level: L2

In [110]:
my_str = 'dbc deb abed gade'

In [111]:
strings = pd.Series(list(my_str))
char = strings.value_counts().argmin()
print("The least frequent character: ", char)
my_str.replace(" ", char)

The least frequent character:  g

'dbcgdebgabedggade'

In [112]:
# Book Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
     3
e    3
b    3
a    2
g    1
c    1
dtype: int64

'dbccdebcabedcgade'

#### 30. How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?
Difficiulty Level: L2

Desired output

In [113]:
from datetime import datetime
from datetime import timedelta
import numpy as np
starting = datetime(2000,1, 1)
starting.strftime('%A')

starting + timedelta(days=7)

datetime.datetime(2000, 1, 8, 0, 0)

In [114]:
# Solution
ser = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
ser

2000-01-01    1
2000-01-08    3
2000-01-15    9
2000-01-22    1
2000-01-29    8
2000-02-05    7
2000-02-12    6
2000-02-19    9
2000-02-26    3
2000-03-04    3
Freq: W-SAT, dtype: int32

In [115]:
#### 31. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?
Difficiulty Level: L2

ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.
Input

SyntaxError: invalid syntax (<ipython-input-115-047641b3b483>, line 2)

In [116]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [117]:
ser_2 = pd.Series(np.arange(1,9),index=pd.date_range('2000-01-01', periods=8))
ser_2

ser.add(ser_2)

2000-01-01     2.0
2000-01-02     NaN
2000-01-03    13.0
2000-01-04     NaN
2000-01-05     NaN
2000-01-06     9.0
2000-01-07     NaN
2000-01-08     NaN
dtype: float64

In [118]:
ser.resample('D').ffill()  # fill with previous value

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

In [119]:
# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

2000-01-01     1.0
2000-01-02    10.0
2000-01-03    10.0
2000-01-04     3.0
2000-01-05     3.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

#### 32. How to compute the autocorrelations of a numeric series?
Difficiulty Level: L3

Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.

Input

In [120]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [121]:
np.random.normal(1, 10, 20)

array([ 7.49440883e+00, -3.43721898e-01, -1.27224638e+00, -2.20958620e-01,
        6.30002054e-01,  1.87792836e+01,  1.78416227e+01, -1.24189356e-02,
       -1.48267005e+01,  1.16533737e+01,  2.34791154e+00,  1.48458382e+00,
        6.33819809e-01,  7.74608932e+00,  1.13721415e+01, -8.02751516e+00,
       -1.61127559e+01,  9.32525895e+00,  9.29251786e+00, -1.41922496e+01])

In [122]:
ser

0     17.726222
1    -10.064616
2      5.825261
3     -0.992450
4     10.006880
5     19.711934
6     -0.127830
7      4.527033
8     -3.640644
9     16.862946
10    -1.017060
11    18.252008
12    17.935731
13    20.229497
14    10.909573
15    12.822080
16     7.814999
17    22.882891
18    20.935060
19    39.014667
dtype: float64

In [123]:
for i in range(11):
    print(ser.autocorr(i).round(2))

1.0
0.16
0.44
-0.17
0.19
0.24
0.37
0.42
0.2
0.08
-0.09

In [124]:
# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.16, 0.44, -0.17, 0.19, 0.24, 0.37, 0.42, 0.2, 0.08, -0.09]
Lag having highest correlation:  2

#### 33. How to import only every nth row from a csv file to create a dataframe?
Difficiulty Level: L2

Import every 50th row of BostonHousing dataset as a dataframe.

In [125]:
from sklearn import datasets
boston = datasets.load_boston()

In [126]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [127]:
print(bos.iloc[50])
bos.iloc[50].index
bos.iloc[50].values
bos.iloc[50].to_dict()

NameError: name 'bos' is not defined

In [ ]:
bos = pd.DataFrame(boston.data, columns = boston.feature_names)
bos_50 = pd.DataFrame(columns = boston.feature_names)

for idx in bos.index:
    if (idx % 50 == 0):
        bos_50 = bos_50.append(bos.iloc[idx].to_dict(), ignore_index=True)
bos_50

In [129]:
bos_50.iloc[1].all() == bos.iloc[50].all()
#bos_50.iloc[2].all() == bos.iloc[100].all()

True

In [130]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader

import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

FileNotFoundError: [Errno 2] No such file or directory: 'BostonHousing.csv'

In [ ]:
#### 34. How to change column values when importing csv to a dataframe?
Difficulty Level: L2

Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that values < 25 becomes ‘Low’ and > 25 becomes ‘High’.

In [132]:
# Solution 1: Using converter parameter
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

#### 35. How to create a dataframe with rows as strides from a given series?
Difficiulty Level: L3

In [133]:
L = pd.Series(range(15))

In [134]:
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

array([[ 0,  1,  2,  3],
       [ 2,  3,  4,  5],
       [ 4,  5,  6,  7],
       [ 6,  7,  8,  9],
       [ 8,  9, 10, 11],
       [10, 11, 12, 13]], dtype=int64)

#### 36. How to import only specified columns from a csv file?
Difficulty Level: L1

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [135]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                usecols=['crim','medv'])
df.head()

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [136]:
# Book solution
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

#### 37. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.
Difficulty Level: L2

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

In [137]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [138]:
df.shape
print('Rows',df.shape[0])
print('Columns',df.shape[1])

Rows 93
Columns 27

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
Manufacturer          89 non-null object
Model                 92 non-null object
Type                  90 non-null object
Min.Price             86 non-null float64
Price                 91 non-null float64
Max.Price             88 non-null float64
MPG.city              84 non-null float64
MPG.highway           91 non-null float64
AirBags               87 non-null object
DriveTrain            86 non-null object
Cylinders             88 non-null object
EngineSize            91 non-null float64
Horsepower            86 non-null float64
RPM                   90 non-null float64
Rev.per.mile          87 non-null float64
Man.trans.avail       88 non-null object
Fuel.tank.capacity    85 non-null float64
Passengers            91 non-null float64
Length                89 non-null float64
Wheelbase             92 non-null float64
Width                 87 non-null float64
Turn.circle           88 non-null float64
Rear.seat.room        89 non-null float64
Luggage.room          74 non-null float64
Weight                86 non-null float64
Origin                88 non-null object
Make                  90 non-null object
dtypes: float64(18), object(9)
memory usage: 19.7+ KB

In [140]:
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [141]:
arr = df.values
list(arr)[:6]

[array(['Acura', 'Integra', 'Small', 12.9, 15.9, 18.8, 25.0, 31.0, 'None',
        'Front', '4', 1.8, 140.0, 6300.0, 2890.0, 'Yes', 13.2, 5.0, 177.0,
        102.0, 68.0, 37.0, 26.5, nan, 2705.0, 'non-USA', 'Acura Integra'],
       dtype=object),
 array([nan, 'Legend', 'Midsize', 29.2, 33.9, 38.7, 18.0, 25.0,
        'Driver & Passenger', 'Front', '6', 3.2, 200.0, 5500.0, 2335.0,
        'Yes', 18.0, 5.0, 195.0, 115.0, 71.0, 38.0, 30.0, 15.0, 3560.0,
        'non-USA', 'Acura Legend'], dtype=object),
 array(['Audi', '90', 'Compact', 25.9, 29.1, 32.3, 20.0, 26.0,
        'Driver only', 'Front', '6', 2.8, 172.0, 5500.0, 2280.0, 'Yes',
        16.9, 5.0, 180.0, 102.0, 67.0, 37.0, 28.0, 14.0, 3375.0, 'non-USA',
        'Audi 90'], dtype=object),
 array(['Audi', '100', 'Midsize', nan, 37.7, 44.6, 19.0, 26.0,
        'Driver & Passenger', nan, '6', nan, 172.0, 5500.0, 2535.0, nan,
        21.1, 6.0, 193.0, 106.0, nan, 37.0, 31.0, 17.0, 3405.0, 'non-USA',
        'Audi 100'], dtype=object),
 array(['BMW', '535i', 'Midsize', nan, 30.0, nan, 22.0, 30.0, nan, 'Rear',
        '4', 3.5, 208.0, 5700.0, 2545.0, 'Yes', 21.1, 4.0, 186.0, 109.0,
        69.0, 39.0, 27.0, 13.0, 3640.0, 'non-USA', 'BMW 535i'],
       dtype=object),
 array(['Buick', 'Century', 'Midsize', 14.2, 15.7, 17.3, 22.0, 31.0,
        'Driver only', nan, '4', 2.2, 110.0, 5200.0, 2565.0, 'No', 16.4,
        6.0, 189.0, 105.0, 69.0, 41.0, 28.0, 16.0, nan, 'USA',
        'Buick Century'], dtype=object)]

#### 38. How to extract the row and column number of a particular cell with given criterion?
Difficulty Level: L1

Input

In [142]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [143]:
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [144]:
indx = df['Price'].argmax()
print("Price max:", df['Price'].max())
print("Index price_max:",indx,"\n")

print(df.iloc[indx],"\n")

df.loc[:,['Manufacturer', 'Model', 'Type']].iloc[indx]

Price max: 61.9
Index price_max: 58

Manufacturer               Mercedes-Benz
Model                               300E
Type                             Midsize
Min.Price                           43.8
Price                               61.9
Max.Price                             80
MPG.city                              19
MPG.highway                           25
AirBags               Driver & Passenger
DriveTrain                          Rear
Cylinders                              6
EngineSize                           3.2
Horsepower                           217
RPM                                 5500
Rev.per.mile                        2220
Man.trans.avail                       No
Fuel.tank.capacity                  18.5
Passengers                             5
Length                               NaN
Wheelbase                            110
Width                                 69
Turn.circle                           37
Rear.seat.room                       NaN
Luggage.room                          15
Weight                              3525
Origin                           non-USA
Make                  Mercedes-Benz 300E
Name: 58, dtype: object

Manufacturer    Mercedes-Benz
Model                    300E
Type                  Midsize
Name: 58, dtype: object

In [145]:
# Web Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))

# Get the value
df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

# Alternates
df.at[row[0], 'Price']
df.get_value(row[0], 'Price')

# The difference between `iat` - `iloc` vs `at` - `loc` is:
# `iat` snd `iloc` accepts row and column numbers. 
# Whereas `at` and `loc` accepts index and column names.

61.9

#### 39. How to rename a specific columns in a dataframe?
Difficulty Level: L2

Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

Input

In [146]:
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [157]:
for name_col in df.columns:
    if (name_col == 'Type'):
        df =df.rename(columns={name_col:'Cartype'})
        continue
    if ("." in name_col):
        df = df.rename(columns={name_col: name_col.replace('.','_')})
        continue

df.head()

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [148]:
#Before
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [154]:
#After
df.columns

Index(['Manufacturer', 'Model', 'Cartype', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [158]:
# Web Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

#### 40. How to check if a dataframe has any missing values?
Difficulty Level: L1

Check if df has any missing values.

Input

In [160]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [165]:
df.isnull().any()

Manufacturer          True
Model                 True
Type                  True
Min.Price             True
Price                 True
Max.Price             True
MPG.city              True
MPG.highway           True
AirBags               True
DriveTrain            True
Cylinders             True
EngineSize            True
Horsepower            True
RPM                   True
Rev.per.mile          True
Man.trans.avail       True
Fuel.tank.capacity    True
Passengers            True
Length                True
Wheelbase             True
Width                 True
Turn.circle           True
Rear.seat.room        True
Luggage.room          True
Weight                True
Origin                True
Make                  True
dtype: bool

In [ ]:
# Web Solution
df.isnull().values.any()

#### 41. How to count the number of missing values in each column?
Difficulty Level: L2

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input

In [177]:
print(df.isnull().sum())
"Column has the maximum number of missing values", str(df.isnull().sum().argmax())

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

('Column has the maximum number of missing values', 'Luggage.room')

In [168]:
# Web Solution
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

'Luggage.room'

#### 42. How to replace missing values of multiple numeric columns with the mean?
Difficulty Level: L2

Replace missing values in Min.Price and Max.Price columns with their respective mean.

Input

In [199]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [203]:
df['Min.Price'] = df['Min.Price'].fillna(np.mean(df['Min.Price']))
df['Min.Price']

0     12.900000
1     29.200000
2     25.900000
3     17.118605
4     17.118605
        ...
88    16.600000
89    17.600000
90    22.900000
91    21.800000
92    24.800000
Name: Min.Price, Length: 93, dtype: float64

In [204]:
df['Max.Price'] = df['Max.Price'].fillna(np.mean(df['Max.Price']))
df['Max.Price']

0     18.800000
1     38.700000
2     32.300000
3     44.600000
4     21.459091
        ...
88    22.700000
89    22.400000
90    23.700000
91    23.500000
92    28.500000
Name: Max.Price, Length: 93, dtype: float64

In [205]:
# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

#### 43. How to use apply function on existing columns with global variables as additional arguments?
Difficulty Level: L3

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

In [208]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i