In [153]:
# Bonus de Pandas

In [154]:
# 1. importa pandas y numpy

In [155]:
import pandas as pd
import numpy as np

In [156]:
# 2. Crea un DataFrame df con las columnas 'Col1': [1,2,3,4,5,6,7,8] y 'Col2': [-2,4,-6,8,1,2,3,4]

In [157]:
df = pd.DataFrame({'Col1': [1,2,3,4,5,6,7,8],'Col2': [-2,4,-6,8,1,2,3,4]})

In [158]:
df

   Col1  Col2
0     1    -2
1     2     4
2     3    -6
3     4     8
4     5     1
5     6     2
6     7     3
7     8     4

In [159]:
# 3. añade una columna 'Col3' con [8,7,6,5,4,5,2,3]

In [160]:
df['Col3'] = [8,7,6,5,4,5,2,3]

In [161]:
df

   Col1  Col2  Col3
0     1    -2     8
1     2     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [162]:
# 4. Selecciona solo 'Col2', ¿de qué tipo es?

In [163]:
df['Col2']

0   -2
1    4
2   -6
3    8
4    1
5    2
6    3
7    4
Name: Col2, dtype: int64

In [164]:
type(df['Col2'])

pandas.core.series.Series

In [165]:
# 5. Selecciona 'Col1' y 'Col3'

In [166]:
df[['Col1', 'Col3']] # para varias columnas, usamos una lista
# necesitamos df[ lista de columnas ] por eso para varias columnas ponemos dos corchetes df[[lista de cols]]

   Col1  Col3
0     1     8
1     2     7
2     3     6
3     4     5
4     5     4
5     6     5
6     7     2
7     8     3

In [167]:
# También nos vale para solo una columna, aunque aquí al ser solo una columna, con df['Una_columna'] ya vale
df[['Col1']]

   Col1
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8

In [168]:
# 6. Selecciona todas las filas donde Col1 sea mayor de 2 y Col3 mayor de 2 también

In [169]:
df['Col1'] > 2

0    False
1    False
2     True
3     True
4     True
5     True
6     True
7     True
Name: Col1, dtype: bool

In [170]:
(df['Col1'] > 2) & (df['Col3'] > 2)

0    False
1    False
2     True
3     True
4     True
5     True
6    False
7     True
dtype: bool

In [171]:
df[(df['Col1'] > 2) & (df['Col3'] > 2)]

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [172]:
# 7. Selecciona las filas donde 'Col1' es >2 y 'Col3' > 2 y asígnalo a la variable df_mayor_de_dos

In [173]:
df_mayor_de_dos = df[(df['Col1'] > 2) & (df['Col3'] > 2)]
df_mayor_de_dos

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [174]:
# 8. Si seleccionamos parte o un DataFrame entero
# dependiendo de si hay distintos tipos de datos en el trozo leído
# o si son del mismo tipo y de si las nuevas escrituras son del mismo
# tipo que el anterior o de un nuevo tipo,
# se trabaja con referencias o con copias
# Pista: 
# df.is_copy() --> True/False
# df._is_view() --> True/False

In [178]:
# 9. Si quieres poner en una variable un DataFrame DISTINTO y no un "enlace" a otro, hay que usar copy()

In [179]:
df_distinto = df.copy()

In [185]:
# 10. Vamos a afianzar LOC e ILOC

In [186]:
# En numpy se accede a las filas y columnas directamente

In [187]:
np_array = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]])
np_array

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

In [188]:
# seleccionamos la fila 2 y la columna 2
np_array[2,2]

9

In [189]:
# En un DataFrame tenemos índices (filas) y columnas
# En un DataFrame usamos SIEMPRE loc o iloc para acceder a las filas y columas

In [190]:
# 11. ILOC es con i de integer, usa NÚMEROS. df.iloc[número_de_fila, número_de_columna]
# En iloc se ponen NÚMEROS, y si se puede, se cogen esas filas y columnas

In [191]:
df_mayor_de_dos

   Col1  Col2  Col3
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
7     8     4     3

In [192]:
# Usando df_mayor_de_dos selecciona las tres primeras filas y las columnas segunda, tercera, cuarta y quinta
# los números para filas/columnas empiezan en 0 y es primero_que_coges:primero_que_NO_coges

In [193]:
df_mayor_de_dos.iloc[0:3,1:4]

   Col2  Col3
2    -6     6
3     8     5
4     1     4

In [194]:
# vemos que los números de ILOC es nuestra cuenta en el DataFrame, NO SON ni los índices ni las columnas.
# Ejemplo: si una columna se llama '7', NO tiene que ver con nuestra cuenta. Una columna llamada '7' puede ser la primera columna
# y una fila con índice '8' puede ser mi primera fila del DataFrame. ¡ES MUY IMPORTANTE!

In [195]:
# LOC nos sirve para seleccionar filas/columnas con SU NOMBRE de índice y de columna
#

In [196]:
df_mayor_de_dos.loc[0:10,['Col2', 'Col3']]

   Col2  Col3
2    -6     6
3     8     5
4     1     4
5     2     5
7     4     3

In [197]:
# El nombre de las columnas son strings, tienen que existir. Un string que no exista te dará un error

In [198]:
# Los índices son números, puedes intentar que los busque y si no existen, no pasa nada

In [199]:
df_mayor_de_dos.loc[0:10,['Col2', 'Col3']]
# 0:10 --> coge los que puedas
# ['Col2', 'Col3'] --> strings que existan

   Col2  Col3
2    -6     6
3     8     5
4     1     4
5     2     5
7     4     3

In [200]:
# 12. Incluye una columna 'Col4' con ['buenos','días', '¿qué', 'tal', 'estás?']

In [201]:
df_mayor_de_dos['Col4'] = ['buenos','días', '¿qué', 'tal', 'estás?']

C:\Users\Alberto.Romero\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [202]:
# Warning: estás intentando cambiar un valor en un trozo pequeño de DataFrame que viene de un DataFrame grande
# Lo cambia en el pequeño
df_mayor_de_dos

   Col1  Col2  Col3    Col4
2     3    -6     6  buenos
3     4     8     5    días
4     5     1     4    ¿qué
5     6     2     5     tal
7     8     4     3  estás?

In [203]:
df

   Col1  Col2  Col3
0     1    -2     8
1    50     4     7
2     3    -6     6
3     4     8     5
4     5     1     4
5     6     2     5
6     7     3     2
7     8     4     3

In [204]:
# si quiero evitar el Warning, o hago una copia y "rompo" el enlace al que apunta (del trozo de DataFrame pequeño al DataFrame grande)
# o lo cambio en el grande (y se vería el cambio en el trozo pequeño)

In [205]:
# 13. Quiero usar 'Col4' como índices de df_mayor_de_dos

In [206]:
df_mayor_de_dos.set_index('Col4')

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [207]:
df_mayor_de_dos

   Col1  Col2  Col3    Col4
2     3    -6     6  buenos
3     4     8     5    días
4     5     1     4    ¿qué
5     6     2     5     tal
7     8     4     3  estás?

In [208]:
# ¡No ha cambiado! Me ha enseñado cómo quedaría, TENGO que igualarlo en la variable para cambiarlo

In [209]:
df_mayor_de_dos = df_mayor_de_dos.set_index('Col4')

In [210]:
df_mayor_de_dos # ¡Cambiado!

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [211]:
# uso LOC para coger 'días', '¿qué', 'estás?' y 'Col1', 'Col3'

In [212]:
df_mayor_de_dos.loc[:,['Col1','Col3']]

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [213]:
df_mayor_de_dos.loc[['días', '¿qué', 'estás?'],['Col1','Col3']]

        Col1  Col3
Col4
días       4     5
¿qué       5     4
estás?     8     3

In [214]:
# Selecciono lo mismo con ILOC

In [215]:
df_mayor_de_dos.iloc[[1,3,4],[0,2]]

        Col1  Col3
Col4
días       4     5
tal        6     5
estás?     8     3

In [216]:
# 14. Vamos a borrar una columa, 'Col2'

In [217]:
df_mayor_de_dos.iloc[[1,3,4],:]

        Col1  Col2  Col3
Col4
días       4     8     5
tal        6     2     5
estás?     8     4     3

In [218]:
df_mayor_de_dos.iloc[:,:]

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [219]:
df_mayor_de_dos.drop(['Col2'], axis=1) # axis 1 es vertical, axis 0 es horizontal

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [220]:
df_mayor_de_dos # ¡No se ha borrado!

        Col1  Col2  Col3
Col4
buenos     3    -6     6
días       4     8     5
¿qué       5     1     4
tal        6     2     5
estás?     8     4     3

In [221]:
df_mayor_de_dos = df_mayor_de_dos.drop(['Col2'], axis=1) # Tengo que igualarlo a la variable, si no me lo muestra pero no lo modifica

In [222]:
df_mayor_de_dos

        Col1  Col3
Col4
buenos     3     6
días       4     5
¿qué       5     4
tal        6     5
estás?     8     3

In [223]:
# Tanto drop como set_index NECESITAN que los iguale a la variable o usar el argumento INPLACE = True dentro del método
# DROP borra y no es reversible, es una forma de asegurarse de que lo quieres borrar
# SET_INDEX borra los índices anteriores y es irreversible, es una forma de asegurarse de que lo quieres borrar

### Resumen

* en numpy se accede directamente a las filas y columnas: np_array[2:4,6:8]

* en pandas se accede directamente a columnas: mi_df[['col1', 'col2', 'col3']]

* en pandas para acceder a filas y columnas se usa LOC o ILOC

* ILOC: numeras las filas y columnas SIN MIRAR el nombre de columnas e índices. Si es numérico intenta cogerlo si existe, string tiene que existir.

* LOC: filas y columnas por su nombre. Si es numérico intenta cogerlo si existe, string tiene que existir.

* LOC/ILOC cogen trozos de DataFrame. Si cambio el original grande, cambia en el trozo también

* Para trabajar con OTRO DataFrame se usa copy():   me_refiero_al_mismo = df    soy_otro_nuevo = df.copy()

* Para seleccionar filas que cumplan condiciones en columnas:  df[(df['Col1'] > 2) & (df['Col3'] > 5)] NO AND/OR SÍ &/|

* Para añadir una columna: df['nueva_col']=[1,2,3,4]

* Para borrar una columna: df = df.drop(...) IGUALO o df.drop(..., inplace = True), tengo que CONFIRMAR porque se va a BORRAR

* Para cambiar los índices por los valores de una columna: df = df.set_index('Col1') o df.set_index(..., inplace = True), tengo que CONFIRMAR porque se va a BORRAR