In [1]:
# librer√≠a pandas
import pandas as pd

In [7]:
# leemos los ficheros

df1 = pd.read_csv('TeamDefense.csv', sep='|')
df2 = pd.read_csv('TeamGoals.csv', sep='|')
df3 = pd.read_csv('TeamPasses.csv', sep='|')
df4 = pd.read_csv('TeamStats.csv', sep='|')

In [8]:
# comprobamos que los hemos leido bien
df1.head()

,Team,Saves Made,Blocks,Total Clearances,Interceptions,Recoveries,Goals Conceded,savesbygoal
0,Belgium,27,30,118,52,391,6,"4,5"
1,Mexico,25,22,69,47,212,6,"4,166666667"
2,Croatia,19,19,191,72,475,9,"2,111111111"
3,Denmark,17,14,110,35,214,2,"8,5"
4,England,16,22,125,56,386,8,2

In [12]:
# cruzamos los cuatro ficheros csv
df = df1.merge(df2, left_on='Team', right_on='Team').merge(df3, left_on='Team', right_on='Team').merge(df4, left_on='Team', right_on='Team')

In [13]:
# guardamos el fichero
df.to_csv('Football_PowerBI.csv')